<div class="flex animate-pulse gap-4 pb-8 text-base small:gap-0">
	<div class="w-[88px] bg-fi-bg-2 small:w-16"></div>
	<div class="order-first flex w-9 flex-col gap-4 small:w-6 small:gap-0">
		<div class="aspect-square w-full bg-fi-bg-2 dark:bg-fi-dark-bg-2"></div>
		<div class="aspect-square w-full bg-fi-bg-2 dark:bg-fi-dark-bg-2"></div>
	</div>
	<div></div>
</div>
