---
import EntryCardMinimal from "$components/blog/EntryCardMinimal.astro"
import Explore from "$layouts/Explore.astro"
import { type CollectionEntry, getCollection } from "astro:content"
import { getContentEntries } from "$utils/getCollection"
import TagsList from "$components/tags/TagsList.astro"

export async function getStaticPaths() {
	const content = await getContentEntries()
	const places = await getCollection("places")
	return places.map((place) => ({
		params: { place: place.id },
		props: { content, place },
	}))
}

type Props = {
	content: Awaited<ReturnType<typeof getContentEntries>>
	place: CollectionEntry<"places">
}
const { content, place } = Astro.props

const filteredContent = content.filter(
	(entry) => "places" in entry.data && entry.data.places.find((p) => p.id == place.id)
)
---

<Explore title={place.data.title} type="Lieux">
	<p slot="tags">
		<TagsList collectionKey="places" currentEntry={place} {content} />
	</p>
	<main class="flex flex-col">
		{filteredContent.map((entry) => <EntryCardMinimal entry={entry} noPlace />)}
	</main>
</Explore>
