---
import "@fontsource/work-sans"
import "@fontsource/work-sans/500.css"
import "@fontsource/work-sans/600.css"
// Supports weights 200-900
import "@fontsource-variable/crimson-pro"
import BaseLayout from "$layouts/BaseLayout.astro"
import CatalogueFeed from "$components/catalogue/CatalogueFeed.astro"
import CatalogueFeedSkeleton from "$components/catalogue/CatalogueFeedSkeleton.astro"
---

<BaseLayout
	title="Catalogue"
	ogType="website"
	ssr
	bg={{ light: "rgb(255, 252, 240)", dark: "rgb(16, 15, 15)" }}
>
	<div
		class="min-h-screen max-w-[564px] border-r border-fi-bg-2 px-4 py-4 text-fi-tx medium:border-none small:px-0 dark:border-fi-dark-bg-2"
	>
		<input
			type="text"
			placeholder="Search in the catalogue…"
			style="font-family: 'Google Sans Code', monospace;"
			class="w-full bg-fi-bg-2 px-[10px] text-[13px] leading-9 text-fi-tx transition placeholder:text-fi-base-500 focus:bg-fi-tx-2 focus:text-fi-bg focus:outline-none focus:placeholder:text-fi-ui-2 dark:bg-fi-dark-bg-2 dark:text-fi-dark-tx dark:placeholder:text-fi-base-500 dark:focus:bg-fi-dark-tx-2 dark:focus:text-fi-dark-bg dark:focus:placeholder:text-fi-dark-ui-2"
		/>
		<CatalogueFeed server:defer>
			<CatalogueFeedSkeleton slot="fallback" />
		</CatalogueFeed>
	</div>
</BaseLayout>
