---
import Sidenote from './Sidenote.astro'

interface Props {
	paragraph?: boolean
}
const { paragraph } = Astro.props
---

{paragraph ? <p><Sidenote label="none" toggle={false} visible><slot /></Sidenote></p> : <Sidenote label="none" toggle={false} visible><slot /></Sidenote>}
