---
import Ac from "../Ac.astro"
// "Ac" means Acronym.
// "Acronyms such as CIA and PLO are frequent in some texts. So are abbreviations such as CE and BCE or AD and BC. The normal value for letterspacing these sequences of small or full caps is 5% to 10% of the type size. If your software sees the em as 1000 PostScript units, that means 50 to 100 units of letterspacing. With digital fonts, it is a simple matter to assign extra width to all small capitals, so that letterspacing occurs automatically.""
// The Elements of Typographic Style, by Robert Bringhurst, p.30 (4th edition, v4.3, 20th anniversary edition)

// Le style a été adapté subjectivement pour le layout Tufte.
// Pour un style plus proche des recommandations du livre :
// font-variant-caps: unicase; letter-spacing: 0.05em;
/*

<>
	<span style="font-size: 0.8em;"
		><span style="letter-spacing: 0.02em;">RP</span><span style="letter-spacing: -0.05em;">G</span
		></span
	> Maker
</>
*/

// <><abbr>RPG</abbr> Maker</>
---

<><abbr>RPG</abbr> Maker</>
