---
import crypto from "node:crypto"
const uid = crypto.randomUUID()
---

<span class="sidenote-wrapper">
	<label for={`sn-${uid}`} class="margin-toggle sidenote-number"></label>
	<input type="checkbox" id={`sn-${uid}`} class="margin-toggle" />
	<span class="sidenote">
		<slot />
		<br />
		<br />
	</span>
</span>
