---
import Image from "$components/Image.astro"
import MarginNote from "./MarginNote.astro"

interface Props {
	src: ImageMetadata | Promise<{ default: ImageMetadata }>
	alt?: string
	full?: boolean
}
const { src, alt, full } = Astro.props

const resolvedSrc = "then" in src ? (await src).default : src
const width = Math.min(resolvedSrc.width, 1920)
---

<figure class:list={{ full: full }}>
	{
		Astro.slots.has("default") && !full && (
			<div class="xl:hidden">
				<MarginNote noMarginTop>
					<slot />
				</MarginNote>
			</div>
		)
	}
	<Image src={resolvedSrc} width={width} alt={alt || ""} />
	{
		Astro.slots.has("default") && !full && (
			<div class="hidden xl:block">
				<MarginNote noMarginTop>
					<slot />
				</MarginNote>
			</div>
		)
	}
</figure>
{
	Astro.slots.has("default") && full && (
		<MarginNote paragraph>
			<slot />
		</MarginNote>
	)
}
