---
import { type CollectionEntry } from "astro:content"
import Game from "../mdx/mediaBlocks/Game.astro"
import Book from "../mdx/mediaBlocks/Book.astro"
import getIGDBgames from "$utils/remoteData/igdb"
import { getCacheOrFetch } from "$utils/cache"
import Movie from "$components/mdx/mediaBlocks/Movie.astro"

interface Props {
	article: CollectionEntry<"blog">
}

const { article } = Astro.props
const data = article.data
const references = [...data.games, ...data.books, ...data.movies]

const gamesData = await Promise.all(
	data.games.map(async (slug) => {
		return await getCacheOrFetch(
			slug,
			"igdb",
			async () => {
				return (await getIGDBgames([slug!]))[0]
			},
			1
		)
	})
)
---

{
	references.length > 0 && (
		<>
			<h2 id="reference-label">Références</h2>
			<div class="references">
				{gamesData.map((data) => (
					<Game data={data} />
				))}
				{data.movies.map((id) => (
					<Movie id={id.toString()} />
				))}
				{data.books.map((id: string) =>
					id.startsWith("OL") ? <Book olid={id} /> : <Book isbn={id} />
				)}
			</div>
		</>
	)
}
