---
import "$styles/base.css"
import GearCategory from "$components/gear/GearCategory.astro"
import GearItem from "$components/gear/GearItem.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
import { dateSort } from "$utils/sort"

const gear = (await getCollection("gear"))
	.map((gear) => ({
		collectionEntry: gear,
		category: gear.slug.split("/")[0],
		slug: gear.slug.split("/")[1],
	}))
	.sort((a, b) => dateSort(a.collectionEntry.data.obtained, b.collectionEntry.data.obtained))

const categories = [
	{ title: "Ordinateurs", slug: "computers" },
	{ title: "Téléphones", slug: "phones" },
	{ title: "Écrans", slug: "screens" },
	{ title: "Consoles", slug: "consoles" },
	{ title: "Son", slug: "sound" },
	{ title: "Caméra", slug: "cameras" },
]
---

<BaseLayout
	ogType="website"
	title="Appareils"
	description="Ordinateurs, téléphones et autres appareils multimédia que je possède."
>
	<div class="m-auto my-10 flex max-w-xl flex-col gap-8 px-8 text-slate-900 dark:text-slate-200">
		<header class="prose prose-slate small:prose-sm dark:prose-invert">
			<p>
				Cette page liste mes appareils multimédia, leur état et ma fréquence d'utilisation. Les
				liens cliquables peuvent contenir des détails supplémentaires.
			</p>
		</header>
		<div class="grid grid-cols-2 gap-4 medium:grid-cols-1">
			{
				categories.map((category) => (
					<GearCategory title={category.title}>
						{gear
							.filter((gear) => gear.category == category.slug)
							.map((gear) => (
								<GearItem gear={gear.collectionEntry} />
							))}
					</GearCategory>
				))
			}
		</div>
	</div>
</BaseLayout>
