---
import ArticleCardMinimal from "$components/ArticleCardMinimal.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import type { CollectionEntry } from "astro:content"
import getBlogPosts from "src/utils/getBlogPosts"
import getUniqueValuesAndOccurences from "src/utils/getUniqueValuesAndOccurences"

export async function getStaticPaths() {
	const allArticles = await getBlogPosts()
	const rawCategories = allArticles.map((article) => article.data.categories)

	const categories = getUniqueValuesAndOccurences(rawCategories)

	return Object.entries(categories).map(([category, amount], i) => {
		const filteredArticles = allArticles.filter(
			(article) => article.data.categories && article.data.categories.includes(category)
		)
		return {
			params: { category },
			props: { articles: filteredArticles },
		}
	})
}

type Props = {
	articles: (CollectionEntry<"blog"> | CollectionEntry<"tufte">)[]
}

const { category } = Astro.params
const { articles } = Astro.props
---

<BaseLayout title={"Catégorie " + category}>
	<div class="mx-auto mb-12 max-w-[500px] px-4">
		<header class="my-12 px-5">
			<div class="my-5">
				◂
				<a href="/">Retour à l'accueil</a>
			</div>
			<h1>Catégorie {category}</h1>
		</header>
		<main class="flex flex-col overflow-hidden rounded-lg shadow hover:overflow-visible">
			{articles.map((article) => <ArticleCardMinimal article={article} />)}
		</main>
	</div>
</BaseLayout>

<style>
	a {
		@apply bg-slate-200 hover:bg-slate-300 active:bg-slate-400;
	}
</style>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	body::-webkit-scrollbar {
		width: 8px;
	}
</style>
