<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <h2 class="article-title">
        <a href="{{ .RelPermalink }}">
            {{- .Title -}}
        </a>
    </h2>

    {{ with .Params.description }}
    <h3 class="article-subtitle">
        {{ . }}
    </h3>
    {{ end }}

    {{ if or (not .Date.IsZero) (.Site.Params.article.readingTime) }}
    <footer class="article-time">
        {{ if not .Date.IsZero }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{ time.Format "2 January 2006" .Date }}
                </time>
            </div>
        {{ end }}

        {{- if not (or (in .Params.categories "Photos") (in .Params.categories "Formations")) -}}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ if .Params.readingTime }}
                        {{ .Params.readingTime }} {{ cond (eq .Params.readingTime 1) "minute" "minutes" }}
                    {{ else }}
                        {{- .ReadingTime -}} {{ cond (eq .ReadingTime 1) "minute" "minutes" }}
                    {{ end }}
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}
</div>