---
import ArticleCard from "$components/ArticleCard.astro"
import HomeExploreLabel from "$components/HomeExploreLabel.astro"
import TagLabel from "$components/TagLabel.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import getBlogPosts from "$utils/getBlogPosts"
import getUniqueValuesAndOccurences, {
	getUniquePlacesAndOccurences,
} from "$utils/getUniqueValuesAndOccurences"
import getPlace from "$utils/places"

const articles = await getBlogPosts()

const rawCategories = articles.map((article) => article.data.categories)
const rawTags = articles.map((article) => article.data.tags)
const rawPlaces = articles.map((article) =>
	article.data.places.length > 0 ? [article.data.places[0]] : []
)

const categories = getUniqueValuesAndOccurences(rawCategories)
const tags = getUniqueValuesAndOccurences(rawTags)
const places = getUniquePlacesAndOccurences(rawPlaces)
---

<BaseLayout
	ogType="website"
	title="Blog"
	description="Blog personnel d'Aurélien Dos Santos."
	font="Work Sans"
>
	<div>
		<header class="grid min-w-full grid-cols-3 xl:block xl:grid-cols-none">
			<div></div>
			<div class="flex justify-center">
				<div
					class="my-12 ml-8 mr-16 min-w-[20rem] max-w-xs 2xl:min-w-[17.5rem] 2xl:max-w-[17.5rem] 2xl:text-sm"
				>
					<div class="mb-5 flex w-full place-content-between xl:mb-9">
						<span>◂ <a href="/">Accueil</a></span>
						<!--<span><a href="/about">A propos</a></span>-->
					</div>
					<div class="mb-4 flex flex-col xl:mb-2 xl:gap-2">
						<p>Bonjour, je suis Aurélien et vous êtes sur mon blog.</p>
						<p>
							Explorer par <a href="/categories">catégorie</a>, <a href="/tags">tag</a
							>, <a href="/places">lieu</a>.
						</p>
						<p>
							À propos <a href="/about">de moi</a>, <a href="/website">de ce site</a>.
						</p>
					</div>
				</div>
			</div>
		</header>
		<main class="flex w-full flex-col items-center">
			{
				articles.map((article, index) => (
					<ArticleCard article={article} entryIndex={articles.length - index} />
				))
			}
		</main>
	</div>
</BaseLayout>

<style>
	a {
		@apply bg-slate-200 hover:bg-slate-300 active:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700 dark:active:bg-slate-600;
	}
</style>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
