<main class="notw">
	<slot />
</main>

<style is:global>
	body {
		background-color: rgb(69, 143, 69);
	}
	.middle {
		display: block;
		margin: 200px auto;
		width: 400px;
		height: 300px;
	}
</style>
