---
import getEntryOrThrow from "$utils/content/getEntryOrThrow"
import { render } from "astro:content"

interface Props {
	id: string
}
const { id } = Astro.props
const entry = await getEntryOrThrow("resume", id)
const { Content } = await render(entry)
---

<h3>
	{entry.data.title}
	{entry.data.title == "Agence Insolence" && <span class="date">(en alternance)</span>}
</h3>
<Content />
