---
import type { ValidContentEntrySlug } from "astro:content"
import { getEntryBySlug } from "astro:content"

interface Props {
	slug: ValidContentEntrySlug<"resume">
}
const { slug } = Astro.props
const entry = await getEntryBySlug("resume", slug)
const { Content } = await entry.render()
---

<h3>{entry.data.title}</h3>
<Content />
