---
import { Icon } from "astro-icon/components"
import getEntryOrThrow from "$utils/content/getEntryOrThrow"

interface Props {
	id?: string
	linkTitle?: string
	href?: string
}
const { id, linkTitle, href } = Astro.props

const entry = id ? await getEntryOrThrow("portfolio", id) : undefined
---

<!-- prettier-ignore -->
<span class="whitespace-nowrap">
	{entry && <a href={`${Astro.site}portfolio/${entry.id}`} class="">Portfolio</a>}
	{entry && (href || (linkTitle && entry.data.links.length > 0)) && <span>·</span>}
	{
		(href || (linkTitle && entry && entry.data.links.length > 0)) && (
			<>
				{/* prettier-ignore */}
				<a href={href || entry?.data.links[0].url} target="_blank" class="peer">{linkTitle}</a>
				<Icon
					id="navbar-link-icon"
					name="ic:baseline-launch"
					class="-mt-[0.1em] inline-block h-[0.9em] transition peer-hover:text-black"
				/>
			</>
		)
	}
</span>
