---
import getEntryOrThrow from "$utils/content/getEntryOrThrow"
import { render } from "astro:content"

interface Props {
	id: string
}
const { id } = Astro.props
const entry = await getEntryOrThrow("resume", id)
const { Content } = await render(entry)
---

<h3>{entry.data.title}</h3>
<Content />
