---
import Explore from "$layouts/Explore.astro"
import TagsList from "$components/tags/TagsList.astro"
---

<Explore title="Muses">
	<p slot="tags">
		<TagsList collectionKey="muses" />
	</p>
</Explore>
