@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Urbanist:ital,wght@0,300;1,300&display=swap');
:root {
    --primary: #d1d3eC;
    --secondary: #81839C;
    --special: #B66DC2;
    --background: #27314D;
    --headingsFont: 'Anek Latin', sans-serif;
    --mainFont: 'Urbanist', sans-serif;
    --fontSize: 17px;
    --specialFont: 'Urbanist', monospace;
}
