---
import ArticleCardMinimal from "$components/ArticleCardMinimal.astro"
import TagLabel from "$components/TagLabel.astro"
import Explore from "$layouts/Explore.astro"
import type { CollectionEntry } from "astro:content"
import getBlogPosts from "$utils/getBlogPosts"
import { getUniquePlacesAndOccurences } from "$utils/getUniqueValuesAndOccurences"
import getPlace from "$utils/places"

export async function getStaticPaths() {
	const allArticles = await getBlogPosts()
	const rawPlaces = allArticles.map((article) => article.data.places)
	const places = getUniquePlacesAndOccurences(rawPlaces)

	return Object.entries(places).map(([place, amount], i) => {
		const filteredArticles = allArticles.filter((article) => article.data.places.includes(place))
		return {
			params: { place },
			props: { articles: filteredArticles, places },
		}
	})
}

type Props = {
	articles: (CollectionEntry<"blog"> | CollectionEntry<"tufte">)[]
	places: { [k: string]: number }
}

const { place } = Astro.params
const { articles, places } = Astro.props
---

<Explore title={getPlace(place)?.customTitle || ""} type="Lieu">
	<div class="mt-5" slot="header">
		<p>
			{
				Object.entries(places).map(([key, value], i) => (
					<>
						<TagLabel
							label={getPlace(key)?.customTitle || ""}
							slug={key}
							count={value}
							type="place"
							disabled={place == key}
						/>{" "}
					</>
				))
			}
		</p>
	</div>
	<main class="flex flex-col shadow">
		{articles.map((article) => <ArticleCardMinimal article={article} noPlace />)}
	</main>
</Explore>
