---
import PlacesList from "$components/places/PlacesList.astro"
import DiaryLayout from "$layouts/DiaryLayout.astro"
import { getPlaceCollection } from "$utils/getCollection"
import InitMaps from "$components/places/InitMaps.astro"

const places = await getPlaceCollection()
---

<DiaryLayout ogType="website" title="Lieux">
	<main class="flex flex-col text-zinc-900">
		<header class="prose prose-zinc mb-8 mt-16 px-8 small:prose-sm">
			<h1>Lieux</h1>
		</header>
		<PlacesList
			title="À Toulouse"
			places={places.filter((place) => place.category == "toulouse")}
			lat={43.602}
			lng={1.446}
			zoom={13}
		/>
		<PlacesList
			title="En Occitanie"
			places={places.filter((place) => place.category == "occitanie")}
			lat={43.968}
			lng={2.562}
			zoom={7}
		/>
		<PlacesList
			title="En Aquitaine"
			places={places.filter((place) => place.category == "aquitaine")}
			lat={43.356}
			lng={-0.51}
			zoom={8}
		/>
		<PlacesList
			title="En Europe"
			places={places.filter((place) => place.category == "europe")}
			lat={47.058}
			lng={3.697}
			zoom={4}
		/>
	</main>
</DiaryLayout>

<InitMaps />
