---
import Toc from "./Toc.astro"
---

<aside class="bg-fi-base-50 font-adelle-sans mediumlarge:hidden">
	<div class="sticky top-0 box-content min-w-[140px] max-w-[240px] p-12 2xl:px-6">
		<a class="block text-2xl font-extralight transition hover:text-fi-orange-400" href="/portfolio">
			<div class="text-sm font-semibold text-fi-base-300">Aurélien Dos Santos</div>
			Portfolio
		</a>
		<Toc />
	</div>
</aside>
