---
import Em from "./Em.astro"
---

<p>
	<Em>Je suis Aurélien</Em> et je conclus des études en alternance d’<Em>ingénieur pédagogique</Em>.
	Je suis également passionné par le <Em>développement informatique</Em> (web et jeux vidéo), le <Em
	>
		game design
	</Em>, la photographie et la musique électronique.
</p>
<p class="mt-6">
	Je suis en quête d’opportunités en tant qu’<Em>ingénieur pédagogique</Em>, <Em>
		concepteur pédagogique
	</Em> (écrit, vidéo), <Em>développeur multimédia</Em> (Unity, web) ou toute mission à la croisée
	de ces compétences.
</p>
