---
interface Props {
	href: string
	site: string
	username: string
}
const { href, site, username } = Astro.props
---

<a class="group flex justify-between" href={href}>
	<div
		class="text-slate-500 group-hover:text-slate-400 dark:text-slate-400 dark:group-hover:text-slate-300"
	>
		{site}
	</div>
	<div
		class="text-slate-400 group-hover:text-slate-300 dark:text-slate-500 dark:group-hover:text-slate-300"
	>
		{username}
	</div>
</a>
