---
interface Props {
	href: string
	site: string
	username: string
}
const { href, site, username } = Astro.props
---

<a class="group flex justify-between" href={href}>
	<div class="text-fi-base-600 transition group-hover:text-fi-orange-400">
		{site}
	</div>
	<div class="text-fi-base-300 transition group-hover:text-fi-orange-400">
		{username}
	</div>
</a>
