---
const { id, open } = Astro.props
---

<button onclick={`window.${id}.showModal()`}>{open}</button>

<dialog id={`${id}`}>
	<slot name="main" />
	<form method="dialog">
		<slot name="close" />
	</form>
</dialog>

<style lang="scss">
	dialog {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@apply rounded-xl;
		&::backdrop {
			position: fixed;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			@apply bg-slate-200/50 dark:bg-slate-800/50;
		}
	}
</style>
