---
import MarginNote from "$components/mdx/Tufte/MarginNote.astro"
import MarkdownIt from "markdown-it"

interface Props {
	height: number
	caption: string
}
const { height, caption: c } = Astro.props
const caption = c && MarkdownIt({ html: true }).renderInline(c)
---

<div class="relative">
	<div
		class="not-prose -mx-12 my-[1.7em] -mr-[calc(3rem+1.5px)] divide-x-[1.5px] divide-fi-base-100 overflow-x-auto whitespace-nowrap border-y-[1.5px] border-r-[1.5px] border-fi-base-100 bg-fi-base-50 medium:-mx-6"
		style={{ height: `${height}px` }}
	>
		<slot />
	</div>
	{
		(caption || Astro.slots.has("caption")) && (
			<div class="absolute bottom-0 w-full translate-y-[38px] xl:static xl:-translate-y-[27px]">
				{caption ? <MarginNote set:html={caption} /> : <slot name="caption" />}
			</div>
		)
	}
</div>
