---
interface Props {
	degree: string
	school: string
}
const { degree, school } = Astro.props
---

<h3 class="mt-3 text-base font-medium text-fi-base-600">
	{degree}
</h3>
<div class="text-sm text-fi-base-300">
	{school}
</div>
