---
interface Props {
	degree: string
	school: string
}
const { degree, school } = Astro.props
---

<h3 class="mt-3 text-base medium:text-sm">
	{degree}
</h3>
<div class="text-sm text-fi-base-600">
	{school}
</div>
