---
import type { CollectionEntry } from "astro:content"
import TocLink from "./TocLink.astro"

interface Props {
	big?: boolean
	title: string
	entries: CollectionEntry<"portfolio">[]
}
const { big, title, entries } = Astro.props
---

<h2 class="pt-[24px] text-xs font-semibold text-fi-orange-400">{title}</h2>
<div
	class:list={[
		"flex flex-col divide-y-[1.5px] divide-fi-base-100",
		{ "text-sm font-semibold": !big, "text-base font-medium": big },
	]}
>
	{entries.map((entry) => <TocLink big={big} to={entry} />)}
</div>
