body {
	@apply m-0;
	// Hides horizontal scrollbar created by full galleries & 100vw.
	// https://stackoverflow.com/a/57677879
	overflow-x: hidden;
}

iframe {
	@apply border-0;
}

tag {
	@apply -mx-1 rounded-sm border-y border-dotted border-slate-400 bg-slate-100 px-1 text-slate-600;
}

.classic {
	blockquote {
		@apply my-[1em] ml-[-80px] w-[70%] italic mediumlarge:ml-[-40px] medium:ml-[-20px] small:ml-[0];
	}

	.note {
		@apply my-[1em] ml-[80px] italic mediumlarge:ml-[40px] medium:ml-[20px] small:ml-[0];
	}

	:not(pre) > code {
		@apply my-[-0.1em] rounded-md bg-[#efefef] px-[0.3em] py-[0.1em];
	}

	aside {
		@apply my-[1em] rounded bg-slate-200 px-4 py-1;
	}

	a:not(.unstyled) {
		@apply underline decoration-1 underline-offset-1 hover:decoration-2;
	}
}

.article-styling {
	.bg-mention img {
		@apply -mb-[0.1em];
	}

	a {
		@apply text-inherit;
	}

	hr {
		@apply my-[2em] max-w-[15%] border-[1px] border-solid;
	}

	pre {
		tab-size: 4;
		@apply rounded-md p-3;
	}

	th:not(:last-child),
	td:not(:last-child) {
		@apply pr-2;
	}

	img:not(.unstyled),
	video {
		@apply h-auto;
	}

	img:not(.unstyled),
	video {
		@apply max-w-full;
	}

	figure {
		@apply mx-0 my-6;

		figcaption {
			@apply ml-[20%] flex justify-end text-right text-[0.8rem];

			p {
				@apply m-0 max-w-prose;
			}
		}
	}

	// A photo gallery (multiple gallery lines) has the same outer my than a single line,
	// but my between inner lines are smaller.
	.photo-gallery {
		@apply my-6;
		.gallery {
			@apply my-4;
		}
	}

	.gallery {
		@apply relative my-6 flex flex-row justify-center;

		figure {
			@apply my-0 grow basis-4;
		}

		figure + figure {
			@apply ml-[10px];
		}

		&.wide {
			@apply mx-[-80px] mediumlarge:mx-[-40px] medium:mx-[-20px];
		}

		&.full {
			@apply left-1/2 ml-[-50vw] w-screen;

			figcaption {
				@apply ml-auto mr-[.5em];
			}
		}

		img {
			@apply w-full;
		}
	}

	.tab {
		@apply p-4 hover:bg-slate-500/5;
	}

	.tab-selector:checked ~ .tab {
		@apply bg-slate-500/10;
	}

	.panel {
		@apply border-y-slate-200 bg-slate-500/10 p-4;
	}
}

.cute {
	img,
	figure {
		@apply overflow-hidden rounded;
	}
	figure figcaption {
		margin-left: 0;
		margin-top: 0.5em;
		text-align: center;
		flex-flow: column;
		font-size: 0.9rem;
		p {
			margin: auto;
		}
	}
}

.future {
	nav.toc li {
		@apply text-[#4a8bf3];
		a {
			@apply bg-transparent;
		}
	}
	ul,
	ol {
		list-style: none; /* Remove default bullets */
		li::before {
			color: #ff7be2;
			font-weight: bold;
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
		}
	}
	ul li::before {
		content: "\2022"; /* \2022 is the CSS Code/unicode for a bullet */
		margin-left: -1em; /* Also needed for space (tweak if needed) */
	}
	ol {
		counter-reset: li;
		li {
			counter-increment: li;
			&::before {
				content: counter(li) ".";
				margin-left: -1.5em;
				margin-right: 0.5em;
				text-align: right;
			}
		}
	}
	em {
		font-style: normal;
		@apply text-[#4a8bf3];
	}
	a:not(.unstyled) {
		@apply bg-[#4a8bf3]/15 decoration-[#4a8bf3] decoration-2 underline-offset-3 hover:bg-[#4a8bf3]/20 hover:decoration-[3px] hover:underline-offset-2 active:bg-[#4a8bf3]/30 active:decoration-2 active:underline-offset-3;
	}
	h2,
	h3 {
		@apply text-[#4a8bf3];
	}
	hr {
		@apply border-[#ff7be2];
	}
}

.typography {
	.ref-block {
		h3 {
			font-feature-settings: "smcp" 0;
		}
	}
	font-feature-settings: "onum";
	a {
		@apply underline decoration-1 underline-offset-3;
		&:hover {
			@apply rounded-sm bg-zinc-200;
		}
	}
	nav.toc {
		@apply my-10;
		a {
			font-family: "Source Serif", serif;
			font-weight: 600;
		}
		ul li a {
			font-family: "Source Serif SmText", "Source Serif", serif;
			font-weight: 400;
		}
	}
	h1 {
		font-family: "Source Serif Display", "Source Serif", serif !important;
		font-weight: 700;
		@apply leading-snug;
	}
	h2,
	h3,
	msc {
		font-feature-settings: "smcp";
		font-weight: 600;
	}
	h2,
	h3 {
		font-family: "Source Serif", "Source Serif", serif !important;
		font-size: 1.2em;
	}
	h3 {
		font-size: 1.05em;
		font-weight: 400;
	}
	aside h3 {
		font-size: 1.17em;
	}
	img,
	video {
		@apply rounded;
	}
	.footnotes {
		ol {
			counter-reset: footnote 0;
		}
		li {
			counter-increment: footnote;
		}
		li::marker {
			content: counter(footnote) "  ";
			font-feature-settings: "onum";
		}
	}
	/* Prevent superscripts and subscripts from affecting line-height */
	sup,
	sub {
		vertical-align: baseline;
		position: relative;
		top: -0.5em;
		margin-left: 0.125em;
		font-feature-settings: "lnum";
		font-size: 0.7em;
		font-weight: 600;
		a {
			@apply no-underline;
		}
	}
	sub {
		top: 0.4em;
	}
	abbr,
	.sc {
		font-feature-settings: "c2sc";
		font-variant-numeric: tabular-nums;
		letter-spacing: 0.05em;
		margin-right: -0.05em;
		font-style: normal;
	}
	.asc,
	sc {
		font-feature-settings: "smcp", "c2sc";
		font-variant-numeric: tabular-nums;
	}
	.unicase-italic {
		font-variant-caps: unicase;
		font-weight: 600;
		letter-spacing: 0.05em;
	}
	.et-book {
		font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,
			serif;
		abbr,
		.sc {
			font-variant: all-small-caps;
			letter-spacing: 0.04em;
			font-weight: 600;
		}
	}
	.inline-example {
		font-size: 1.1em;
	}
	aside {
		@apply mx-0 my-10 bg-inherit px-8 py-0 medium:px-4;
		font-size: 1rem;
		h3 {
			font-feature-settings: "smcp";
			@apply my-0 font-normal;
		}
		p {
			@apply mt-0;
		}
	}
	example,
	blockquote,
	aside {
		@apply pl-8 medium:pl-4;
	}
	example {
		@apply my-10 flex flex-col;
		p,
		ul {
			@apply m-0 mb-4;
			&:last-child {
				@apply mb-0;
			}
		}
		&:not(.small) {
			@apply text-2xl;
		}
		font {
			@apply text-base text-zinc-400;
		}
	}
	blockquote {
		@apply mx-0 w-full not-italic text-inherit;
	}
	code {
		font-family: "Source Code Pro", monospace;
		@apply bg-inherit;
	}
}
