:root[data-palette="tufte"],
:root[data-palette="source-serif"] {
	.sidenote {
		font-family: "Source Serif SmText";
	}
	/* HACK: If the sidenote is the first element of the <p> following a h3, there's too much margin. */
	h2 {
		& + p > label:first-child + input + span {
			/* The sidenote is stuck under the h2. */
			@apply px-0 xl:-mt-[--font-size] xl:mb-[--font-size];
		}
	}
	h3 {
		& + p > label:first-child + input + span {
			/* 40px rougly aligns with the h3 text. */
			@apply xl:mb-[--font-size] xl:mt-0 xl:px-[2.45em];
		}
	}
	/* For TufteFigures in the sidenote layout */
	figure {
		& > label:first-child + input + span,
		& + p > label:first-child + input + span {
			@apply xl:mt-0;
		}
	}
}

:root {
	counter-reset: sidenote-counter;
}

.sidenote {
	/* The mt aligns the small text with the main one. It's not done cleanly right now. */
	@apply relative float-right clear-right -mr-[calc(50%+4em)] mb-[1em] mt-[5px] box-border w-1/2 indent-0 text-[0.9rem] not-italic leading-[1.35] xl:m-0 xl:my-[--indent] xl:box-border xl:hidden xl:w-full xl:px-[--indent] xl:text-left xl:leading-[--line-height] xl:peer-checked:block small:my-[--sm-indent] small:px-[--sm-indent] small:leading-[--sm-line-height];
	img,
	video,
	lite-youtube {
		@apply mb-[0.2em] mt-0;
	}
	img {
		@apply xl:my-[0.4em];
	}
	p {
		@apply my-0;
	}
}

.sidenote-number {
	counter-increment: sidenote-counter;
	/* The -my compensates for the border width. */
	@apply inline-block max-h-[2rem] indent-0;
	&:after {
		content: counter(sidenote-counter);
		font-feature-settings: "sups";
	}
}

.mobile-touch {
	@apply rounded border-[--popup] xl:-my-[2px] xl:cursor-pointer xl:border-[1.5px] xl:border-dotted xl:px-[0.2em] dark:border-[--dark-popup];
}

.sidenote:before {
	content: counter(sidenote-counter);
	@apply absolute -left-[1.5em] xl:left-[calc(var(--indent)-1em)];
}

/* Variant : change sidenote numbers to a symbol */
/* Label: */
.sidenote-symbol:after {
	content: "*";
	font-feature-settings: "sups";
}
/* Sidenote: */
.sidenote.symbol:before {
	content: "*";
	transform: translateX(-50%);
	@apply -left-[1em] -top-[0.3em] xl:left-[calc(var(--indent)/2)];
}
/* Variant : hidden label (like a margin note) */
.sidenote.no-label:before {
	display: none;
}
