.tufte .article-styling {
	width: 87.5%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-right: 0;
	padding-left: 12.5%;
	max-width: 1254px; /* default 1400px */

	@media (max-width: 860px) {
		width: 84%;
		padding-left: 0;
		padding-right: 0;
	}

	h1 {
		font-weight: 400;
		margin-top: 4rem;
		margin-bottom: 1.5rem;
		font-size: 3.2rem;
		line-height: 1;
	}

	h2 {
		font-style: italic;
		font-weight: 400;
		margin-top: 2.1rem;
		margin-bottom: 1.4rem;
		font-size: 2.2rem;
		line-height: 1;
	}

	h3 {
		font-style: italic;
		font-weight: 400;
		font-size: 1.7rem;
		margin-top: 2rem;
		margin-bottom: 1.4rem;
		line-height: 1;
	}

	.popup {
		li {
			line-height: 1.5;
		}
		h3 {
			font-size: 1.4em;
			margin-top: 0;
			margin-bottom: 0.5rem;
			font-style: normal;
		}
		p {
			font-size: 0.9em; /* same as sidenotes */
			width: unset;
		}
		a.source {
			text-decoration: none;
		}
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
	}

	p.subtitle {
		font-family: "Source Serif Subhead", "Source Serif", serif;
		font-style: italic;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 1.8rem;
		display: block;
		line-height: 1;
	}

	p {
		margin-top: 1.4rem;
		margin-bottom: 1.4rem;
		padding-right: 0;
		vertical-align: baseline;
	}

	section,
	hr {
		max-width: var(--page-width);
		/* 65ch: 624px at 1.2rem font. vs 770px for 55% width. 770-624=146px */
	}

	figure {
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		margin: 0 0 3em 0;
	}

	figure.fullwidth figcaption {
		margin-right: 24%;
	}

	/* Links: replicate underline that clears descenders */
	a:link,
	a:visited {
		color: inherit;
	}

	a.popup-link {
		@apply decoration-dotted;
	}

	/* Sidenotes, margin notes, figures, captions */
	img {
		max-width: 100%;
	}

	blockquote .sidenote,
	blockquote .marginnote {
		margin-right: -82%;
		min-width: 59%;
		text-align: left;
	}

	.fullwidth {
		width: 100%;
		overflow-x: auto;
	}

	.sans {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		letter-spacing: 0.03em;
	}

	code,
	pre > code {
		font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-size: 1rem;
		line-height: 1.42;
		-webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
	}

	h1 > code,
	h2 > code,
	h3 > code {
		font-size: 0.8em;
	}

	pre > code {
		font-size: 0.9rem;
		width: 52.5%;
		margin-left: 2.5%;
		overflow-x: auto;
		display: block;
	}

	pre.fullwidth > code {
		width: 90%;
	}

	.fullwidth {
		max-width: 90%;
		clear: both;
	}

	em abbr {
		font-variant: all-small-caps;
		font-size: 1.18em;
		font-weight: 600;
		letter-spacing: 0.07em;
		margin-right: -0.07em;
		font-style: italic;
	}

	@media (max-width: 760px) {
		figcaption,
		figure.fullwidth figcaption {
			margin-right: 0%;
			max-width: none;
		}

		label {
			cursor: pointer;
		}

		div.table-wrapper,
		table {
			width: 85%;
		}

		img {
			width: 100%;
		}
	}

	/* ------------------
	// tufte-extra.css
	// ------------------ */

	img:not(.unstyled) {
		height: auto;
	}

	/* To get spacing between lists, use paragraphs.
	* 0.25rem of spacing between list elements looks bad. */
	li:not(:first-child) {
		margin-top: initial;
	}

	/* Prevent superscripts and subscripts from affecting line-height */
	sup {
		font-feature-settings: "sups";
	}

	/* Replicate styling from sidenote numbers to footnote numbers */
	a.footnote-ref,
	sup a:link,
	figure a:link {
		background: unset;
		text-shadow: unset;
	}
	.footnote-ref sup,
	sup {
		font-size: inherit;
		vertical-align: inherit;
		line-height: inherit;
	}
}
