/* Regular */

@font-face {
	font-family: "Source Serif";
	font-weight: 200;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4-ExtraLight.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 200;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4-ExtraLightIt.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 300;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4-Light.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 300;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4-LightIt.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4-Regular.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4-It.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4-Semibold.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 600;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4-SemiboldIt.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4-Bold.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 700;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4-BoldIt.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 900;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4-Black.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif";
	font-weight: 900;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4-BlackIt.ttf.woff2") format("woff2");
	font-display: swap;
}

/* SmText */

@font-face {
	font-family: "Source Serif SmText";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4SmText-Regular.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif SmText";
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4SmText-It.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif SmText";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4SmText-Semibold.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif SmText";
	font-weight: 600;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4SmText-SemiboldIt.ttf.woff2") format("woff2");
	font-display: swap;
}

/* Display */

@font-face {
	font-family: "Source Serif Display";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-Regular.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Display";
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-It.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Display";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-Semibold.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Display";
	font-weight: 600;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-SemiboldIt.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Display";
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-Bold.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Display";
	font-weight: 700;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-BoldIt.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Display";
	font-weight: 900;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-Black.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Display";
	font-weight: 900;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Display-BlackIt.ttf.woff2") format("woff2");
	font-display: swap;
}

/* Subhead */

@font-face {
	font-family: "Source Serif Subhead";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Subhead-Regular.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Subhead";
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Subhead-It.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Subhead";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Subhead-Semibold.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Subhead";
	font-weight: 600;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Subhead-SemiboldIt.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Subhead";
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Subhead-Bold.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Subhead";
	font-weight: 700;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Subhead-BoldIt.ttf.woff2") format("woff2");
	font-display: swap;
}

/* Caption */

@font-face {
	font-family: "Source Serif Caption";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/SourceSerif4/SourceSerif4Caption-Regular.ttf.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Serif Caption";
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/SourceSerif4/SourceSerif4Caption-It.ttf.woff2") format("woff2");
	font-display: swap;
}
