---
import Image from "$components/Image.astro"
import { borderClasses, paperClasses } from "$utils/design/images"
import type { ImageQuality } from "astro"

export interface Props {
	src: ImageMetadata | Promise<{ default: ImageMetadata }>
	alt?: string
	caption?: string
	rounded?: boolean
	shadow?: boolean
	effect?: "border" | "paper"
	resolution: "third" | "half" | "normal" | "high"
	zoomQuality?: ImageQuality
}
const {
	src: srcToResolve,
	alt,
	caption,
	rounded,
	shadow,
	effect,
	resolution,
	zoomQuality,
	...attributes
} = Astro.props

if (typeof srcToResolve != "object") throw new Error("srcToResolve is not an object")
const src = "then" in srcToResolve ? (await srcToResolve).default : srcToResolve

function getMaxWidth() {
	switch (resolution || "high") {
		case "third":
			return 640
		case "half":
			return 960
		case "normal":
			return 1280
		case "high":
			return 1920
	}
}

const imgWidth = Math.min(src.width, getMaxWidth())
---

<figure
	class="h-full"
	style={{
		// Resizing images in galleries. You could probably use other constants, but I got these from https://github.com/search?q=repo:CaiJimmy/hugo-theme-stack%20flex-basis&type=code and they work well.
		flexGrow: `${(src.width * 100) / src.height}`,
		flexBasis: `${(src.width * 240) / src.height}px`,
	}}
>
	<Image
		src={src}
		width={imgWidth}
		zoomQuality={zoomQuality}
		alt={alt || ""}
		class:list={[
			effect == "border" && borderClasses,
			effect == "paper" && paperClasses,
			{ "rounded-md": rounded, shadow: shadow },
		]}
		{...attributes}
	/>
	{
		Astro.slots.has("default") && (
			<figcaption>
				<div>
					<slot />
				</div>
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<div>
					<slot>{caption}</slot>
				</div>
			</figcaption>
		)
	}
</figure>
