---
import Image from "$components/Image.astro"
import { borderClasses, paperClasses } from "$utils/design/images"
import type { ImageQuality } from "astro"

export interface Props {
	src: ImageMetadata | Promise<{ default: ImageMetadata }>
	alt?: string
	caption?: string
	rounded?: boolean
	shadow?: boolean
	effect?: "border" | "paper"
	imagesInGallery?: number
	fullWidth?: boolean
	quality?: ImageQuality
	zoomQuality?: ImageQuality
}
const {
	src: srcToResolve,
	alt,
	caption,
	rounded,
	shadow,
	effect,
	fullWidth,
	zoomQuality,
	...attributes
} = Astro.props

if (typeof srcToResolve != "object") throw new Error("srcToResolve is not an object")
const src = "then" in srcToResolve ? (await srcToResolve).default : srcToResolve

const imagesInGallery = Astro.props.imagesInGallery ?? 1

// An approximation of the article div width.
const contentWidth = 620
// An approximation for when the image is full width.
const screenWidth = 1920

const width = fullWidth ? screenWidth : contentWidth / imagesInGallery
---

<figure
	class="h-full"
	style={{
		// Resizing images in galleries. You could probably use other constants, but I got these from https://github.com/search?q=repo:CaiJimmy/hugo-theme-stack%20flex-basis&type=code and they work well.
		flexGrow: `${(src.width * 100) / src.height}`,
		flexBasis: `${(src.width * 240) / src.height}px`,
	}}
>
	<Image
		{src}
		{zoomQuality}
		{width}
		responsive={{
			layout: "variableWidth",
			containerMaxWidth: width,
			imagesInGallery,
		}}
		alt={alt || ""}
		class:list={[
			effect == "border" && borderClasses,
			effect == "paper" && [borderClasses, paperClasses],
			{ "rounded-md": rounded, shadow: shadow },
		]}
		{...attributes}
	/>
	{
		Astro.slots.has("default") && (
			<figcaption>
				<div>
					<slot />
				</div>
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<div>
					<slot>{caption}</slot>
				</div>
			</figcaption>
		)
	}
</figure>
