---
import type { ImageQuality } from "astro"
import Figure from "./Figure.astro"
import Gallery from "./Gallery.astro"

interface Props {
	lines: [(ImageMetadata | Promise<{ default: ImageMetadata }>)[], "wide" | "full" | undefined][]
	zoomQuality?: ImageQuality
}

const { lines, zoomQuality } = Astro.props
---

<div class="photo-gallery">
	{
		lines.map((line) => (
			<Gallery wide={line[1] == "wide"} full={line[1] == "full"}>
				{line[0].map((photo) => (
					<Figure
						src={photo}
						imagesInGallery={line[0].length}
						fullWidth={Boolean(line[1])}
						zoomQuality={zoomQuality}
					/>
				))}
			</Gallery>
		))
	}
</div>
