---
import EntryCardMinimal from "$components/blog/EntryCardMinimal.astro"
import Explore from "$layouts/Explore.astro"
import { type CollectionEntry } from "astro:content"
import { getContentEntries } from "$utils/getCollection"
import { getCollection } from "astro:content"
import TagsList from "$components/tags/TagsList.astro"
import { dateSort } from "$utils/sort"

export async function getStaticPaths() {
	const content = (await getContentEntries()).sort((a, b) => dateSort(a.data.date, b.data.date))
	const tags = await getCollection("tags")
	return tags.map((tag) => ({
		params: { tag: tag.slug },
		props: { content, currentTag: tag },
	}))
}

type Props = {
	content: Awaited<ReturnType<typeof getContentEntries>>
	currentTag: CollectionEntry<"tags">
}
const { currentTag } = Astro.props

const content = Astro.props.content.filter((entry) =>
	entry.data.tags.find((t) =>
		typeof t == "string" ? t == currentTag.slug : t.slug == currentTag.slug
	)
)
---

<Explore title={currentTag.data.title} type="Tags">
	<p slot="tags">
		<TagsList collectionKey="tags" currentEntry={currentTag} />
	</p>
	<main class="flex flex-col">
		{content.map((entry) => <EntryCardMinimal entry={entry} />)}
	</main>
</Explore>
