---
import TagLabel from "$components/blog/TagLabel.astro"
import Explore from "$layouts/Explore.astro"
import getBlogPosts from "$utils/getCollection"
import getUniqueValuesAndOccurences from "$utils/getUniqueValuesAndOccurences"

const allArticles = await getBlogPosts()
const rawTags = allArticles.map((article) => article.data.tags)
const tags = getUniqueValuesAndOccurences(rawTags)
---

<Explore title="Tags" animation="tags">
	<p slot="tags">
		{
			Object.entries(tags).map(([key, value]) => (
				<>
					<TagLabel label={key} count={value} type={"tag"} />{" "}
				</>
			))
		}
	</p>
</Explore>
