---
import MuseumLayout from "$layouts/MuseumLayout.astro"
import { getCollection } from "astro:content"
import { checkLocale, langParams, useTranslations } from "$utils/i18n"
import { multiText } from "$utils/museum"
import PieceThumbnail from "$components/museum/PieceThumbnail.astro"
import ThumbnailGrid from "$components/museum/ThumbnailGrid.astro"

export async function getStaticPaths() {
	const collections = await getCollection("collections")
	const pieces = await getCollection("pieces")
	return langParams.flatMap((lang) => {
		const locale = checkLocale(lang)
		return collections.map((collection) => ({
			params: { lang, collection: collection.slug },
			props: {
				collection,
				pieces: pieces.filter((piece) =>
					piece.data.collections.map((c) => c.slug).includes(collection.slug)
				),
				t: useTranslations(locale),
				locale,
			},
		}))
	})
}
const { collection, pieces, t, locale } = Astro.props
const { Content } = await collection.render()
const data = collection.data
const title = multiText(data.title, locale)
---

<MuseumLayout
	title={`${title} · ${t("m-title")}`}
	ogType="website"
	navBarProps={{ title: title, parent: { href: "/museum", title: t("m-museum") } }}
>
	<div class="mb-8 py-8" style={{ fontFamily: "InterVariable, sans-serif" }}>
		<h2 class="text-2xl font-light">{title}</h2>
	</div>
	<Content />
	<ThumbnailGrid>
		{pieces.map((piece) => <PieceThumbnail {piece} />)}
	</ThumbnailGrid>
</MuseumLayout>
