---
import MuseumLayout from "$layouts/MuseumLayout.astro"
import { getCollection } from "astro:content"
import { localePaths } from "$utils/i18n"
import { PieceType } from "$content/config"
import PieceThumbnail from "$components/museum/PieceThumbnail.astro"
import ThumbnailGrid from "$components/museum/ThumbnailGrid.astro"

export function getStaticPaths() {
	return localePaths
}
const { t } = Astro.props

const pieces = await getCollection("pieces")
const types = Object.values(PieceType)
---

<MuseumLayout
	title={t("m-title")}
	ogType="website"
	navBarProps={{ title: t("m-collection"), parent: { href: "/museum", title: t("m-museum") } }}
>
	{
		types.map((type) => (
			<>
				<div class="mb-8 py-8" style={{ fontFamily: "InterVariable, serif" }}>
					<h2 class="text-2xl font-light">{t(type) || type}</h2>
				</div>
				<ThumbnailGrid>
					{pieces
						.filter((p) => p.data.type == type)
						.map((piece) => (
							<PieceThumbnail {piece} />
						))}
				</ThumbnailGrid>
			</>
		))
	}
</MuseumLayout>
