---
import ArticleDate from "$components/articles/ArticleDate.astro"
import { getEntryBySlug } from "astro:content"

interface Props {
	slug: string
	date?: boolean
}
const { slug, date } = Astro.props

const article = await getEntryBySlug("blog", slug)
if (!article) throw new Error(`BlogRef: article ${slug} can't be found`)
---

<a href={"/" + article.slug}>{article.data.title}</a>{date && <span> (<ArticleDate date={article.data.date} yearOnly />)</span>}
