---
import ArticleDate from "$components/articles/ArticleDate.astro"
import getEntryOrThrow from "$utils/content/getEntryOrThrow"
import MarkdownIt from "markdown-it"

interface Props {
	id: string
	date?: boolean
}
const { id, date } = Astro.props

const article = await getEntryOrThrow("blog", id)
const title = MarkdownIt({ html: true }).renderInline(article.data.title)
---

« <a href={"/" + article.id} set:html={title} /> »{date && <span> (<ArticleDate date={article.data.date} yearOnly />)</span>}
