---
import ArticleDate from "$components/articles/ArticleDate.astro"
import { getDiaryEntry } from "$utils/getCollection"

interface Props {
	id: string
	titleOnly?: boolean
}
const { id, titleOnly } = Astro.props

const article = await getDiaryEntry(id)
---

<span class="my-[-1px] rounded border border-solid border-zinc-300 bg-white px-[2px] text-zinc-900">
	{!titleOnly && <span>Aurélien Dos Santos,</span>}
	<a
		href={"/diary/" + article.id}
		style={{
			textDecoration: "none",
			bgColor: "transparent !important",
		}}
	>
		{titleOnly ? article.data.title : `« ${article.data.title} »,`}
	</a>
	{
		!titleOnly && article.data.date && (
			<span class="text-[--base-cover]">
				<ArticleDate date={article.data.date} />
			</span>
		)
	}
</span>
