---
import { getPlace } from "$utils/remoteData/googleMaps"

interface Props {
	id: string
	title?: string
}
const { id, title } = Astro.props

const place = await getPlace(id)
---

<span class="not-prose whitespace-nowrap"
	><a
		href={place.url}
		target="_blank"
		class="bg-mention rounded-sm px-[0.1em]"
		style="text-decoration-line: none;"
		><img src={place.icon} class="inline-block max-h-[0.8em]" />
		<span class="whitespace-normal">{title || place.name}</span></a
	></span
>
