---
import ArticleCardMinimal from "$components/ArticleCardMinimal.astro"
import TagLabel from "$components/TagLabel.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import type { CollectionEntry } from "astro:content"
import getBlogPosts from "$utils/getBlogPosts"
import getUniqueValuesAndOccurences from "$utils/getUniqueValuesAndOccurences"

export async function getStaticPaths() {
	const allArticles = await getBlogPosts()
	const rawCategories = allArticles.map((article) => article.data.categories)

	const categories = getUniqueValuesAndOccurences(rawCategories)

	return Object.entries(categories).map(([category, amount], i) => {
		const filteredArticles = allArticles.filter(
			(article) => article.data.categories && article.data.categories.includes(category)
		)
		return {
			params: { category },
			props: { articles: filteredArticles, categories },
		}
	})
}

type Props = {
	articles: (CollectionEntry<"blog"> | CollectionEntry<"tufte">)[]
	categories: { [k: string]: number }
}

const { category } = Astro.params
const { articles, categories } = Astro.props
---

<BaseLayout ogType="website" title={"Catégorie " + category} font="Work Sans">
	<div class="mx-auto mb-12 max-w-[500px] px-4">
		<header class="my-12 px-5">
			<div class="my-5">
				◂
				<a href="/blog">Retour au blog</a>
			</div>
			<h2 class="mt-6 text-sm uppercase leading-tight text-slate-300 dark:text-slate-700">
				Catégorie/
			</h2>
			<h1 class="text-2xl leading-tight text-slate-500">{category}</h1>
			<div class="mt-5">
				<p>
					{
						Object.entries(categories).map(([key, value], i) => (
							<>
								<TagLabel label={key} count={value} type={"category"} disabled={category == key} />{" "}
							</>
						))
					}
				</p>
			</div>
		</header>
		<main class="flex flex-col shadow">
			{articles.map((article) => <ArticleCardMinimal article={article} />)}
		</main>
	</div>
</BaseLayout>

<style>
	a {
		@apply bg-slate-200 hover:bg-slate-300 active:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700 dark:active:bg-slate-600;
	}
</style>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
