---
import TagLabel from "$components/blog/TagLabel.astro"
import Explore from "$layouts/Explore.astro"
import getBlogPosts from "$utils/getCollection"
import getUniqueValuesAndOccurences from "$utils/getUniqueValuesAndOccurences"

const allArticles = await getBlogPosts()
const rawCategories = allArticles.map((article) => article.data.categories)
const categories = getUniqueValuesAndOccurences(rawCategories)
---

<Explore title="Catégories" animation="categories">
	<p slot="tags">
		{
			Object.entries(categories).map(([key, value]) => (
				<>
					<TagLabel label={key} count={value} type={"category"} />{" "}
				</>
			))
		}
	</p>
</Explore>
