---
import TagLabel from "$components/TagLabel.astro"
import Explore from "$layouts/Explore.astro"
import getBlogPosts from "$utils/getBlogPosts"
import getUniqueValuesAndOccurences from "$utils/getUniqueValuesAndOccurences"

const allArticles = await getBlogPosts()
const rawCategories = allArticles.map((article) => article.data.categories)
const categories = getUniqueValuesAndOccurences(rawCategories)
---

<Explore title="Catégories" type="Blog" animation="categories">
	<div class="mt-5" slot="header">
		<p>
			{
				Object.entries(categories).map(([key, value]) => (
					<>
						<TagLabel label={key} count={value} type={"category"} />{" "}
					</>
				))
			}
		</p>
	</div>
</Explore>
