---
interface Props {
	id: string
	content: string
}
const { id, content } = Astro.props
---

<div>
	<input type="checkbox" name="filters" id={id} class="peer hidden" />
	<label
		for={id}
		class="rounded-md border border-slate-300 bg-white px-3 py-1 text-center text-slate-500 hover:bg-slate-100 active:bg-slate-200 peer-checked:border-indigo-500 peer-checked:bg-indigo-500 peer-checked:text-white peer-checked:active:bg-indigo-600 dark:border-slate-700 dark:bg-black dark:hover:bg-slate-900 dark:active:bg-slate-800"
		style={{ display: "inherit" }}>{content}</label
	>
</div>
