<div
	class="diary-entry mb-6 max-w-80 rounded-sm border border-neutral-600 bg-neutral-100 p-6 text-xs text-neutral-800 shadow"
>
	{Astro.props.date && <p class="text-neutral-400">{Astro.props.date}</p>}
	<slot />
</div>

<style is:global>
	.diary-entry {
		p:last-child {
			@apply mb-0;
		}
		hr {
			@apply -mx-6 my-6 border-neutral-600;
		}
	}
</style>
