---
import { type CollectionEntry, getCollection } from "astro:content"
import Article from "$layouts/Article.astro"
import ArticleReferences from "$components/articles/ArticleReferences.astro"

export async function getStaticPaths() {
	const blogEntries = await getCollection("blog", ({ data }) => {
		return !data.draft || import.meta.env.DEV
	})
	return blogEntries.map((article) => ({
		params: { blog: article.slug },
		props: { article },
	}))
}

interface Props {
	article: CollectionEntry<"blog">
}

const { article } = Astro.props
const { Content, headings } = await article.render()
const data = article.data
---

<Article article={article} headings={headings}>
	<Content />
	<ArticleReferences article={article} />
	{
		data.license && (
			<>
				<hr />
				<p class="license">{data.license}</p>
			</>
		)
	}
</Article>
