---
import { getCollection } from "astro:content"
import Article from "$layouts/Article.astro"
import getPalette from "src/utils/palettes"

export async function getStaticPaths() {
	const blogEntries = await getCollection("blog", ({ data }) => {
		return data.draft !== true
	})
	return blogEntries.map((article) => ({
		params: { slug: article.slug },
		props: { article },
	}))
}
const { article } = Astro.props
const { Content } = await article.render()
const palette = getPalette(article.data.palette)
const secondaryColor = palette.secondaryColor
const specialColor = palette.specialColor
---

<Article article={article}>
	<div>
		<Content />
	</div>
</Article>

<style define:vars={{ secondaryColor, specialColor }} is:global>
	blockquote {
		color: var(--specialColor);
	}
	.note {
		color: var(--specialColor);
	}
</style>
