---
import { getCollection } from "astro:content"
import Page from "$layouts/Page.astro"
import BackHome from "$components/BackHome.astro"
import getPalette from "$utils/palettes"
import "src/styles/articles.scss"
import TableOfContents from "$components/TableOfContents.astro"

export async function getStaticPaths() {
	const individualPages = await getCollection("pages", ({ data }) => {
		return data.draft !== true || import.meta.env.DEV
	})
	return individualPages.map((article) => ({
		params: { page: article.slug },
		props: { article },
	}))
}

const { article } = Astro.props
const { Content, headings } = await article.render()
const palette = getPalette(article.data.palette)
const secondaryColor = palette.secondaryColor
const specialColor = palette.specialColor
const fontSize = palette.fontSize
---

<Page page={article}>
	<div>
		{article.data.toc && <TableOfContents headings={headings} />}
		<Content />
		<BackHome main />
	</div>
</Page>

<style define:vars={{ secondaryColor, specialColor, fontSize }} is:global>
	blockquote,
	.note,
	.license,
	hr,
	.special-color {
		color: var(--specialColor);
	}
	figcaption,
	.secondary-color {
		color: var(--secondaryColor);
	}
	.text-normal-size {
		font-size: var(--fontSize);
	}
</style>
