---
import ArticleCard from "$components/blog/ArticleCard.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import getBlogPosts, { getDiary } from "$utils/getCollection"
import DiaryWrapup from "$components/blog/DiaryWrapup.astro"

const articles = await getBlogPosts()

const diary = (await getDiary()).filter((entry) => entry.data.highlight)
const years = Array.from(new Set(diary.map((entry) => entry.year)))
---

<BaseLayout
	ogType="website"
	title="Blog"
	description="Blog personnel d'Aurélien Dos Santos."
	font="Work Sans"
>
	<header class="flex justify-center">
		<div
			class="ml-8 mr-16 flex max-w-xs flex-col text-space-500 2xl:ml-7 2xl:mr-14 2xl:max-w-[17.5rem] 2xl:text-sm small:mx-0 small:max-w-[20rem]"
		>
			<div class="relative mb-11 mt-12 flex justify-between 2xl:mb-9 2xl:mt-10">
				<a href="/portfolio">Portfolio</a>
				<a href="https://www.youtube.com/@GameDevAlliance">YouTube</a>
				<a href="https://www.linkedin.com/in/aureliendossantos/">LinkedIn</a>
			</div>
			<p class="relative mb-[58px] 2xl:mb-12">
				Bonjour, je suis <a href="/about">Aurélien Dos Santos</a>, ingénieur pédagogique,
				réalisateur vidéo et développeur web/Unity. Bienvenue sur mon blog personnel.
			</p>
		</div>
	</header>
	{
		articles.map((article, index) => (
			<>
				<ArticleCard article={article} entryIndex={articles.length - index} />
				{(() => {
					if (!articles[index + 1]) return
					const year = article.data.date.getFullYear()
					const nextYear = articles[index + 1].data.date.getFullYear()
					if (year != nextYear && years.find((y) => y == year)) return <DiaryWrapup year={year} />
				})()}
			</>
		))
	}
</BaseLayout>

<style>
	header a {
		@apply text-space-700 decoration-space-300 underline-offset-4 hover:text-space-800 hover:underline dark:text-space-300 dark:decoration-space-600 dark:hover:text-space-200;
	}
</style>

<script>
	// Display the corresponding image cover on link hover.
	// Only toggles images of the current year.
	const images = document.querySelectorAll("[id$='-image']")
	const links = document.querySelectorAll("[id$='-link']")
	links.forEach((link) => {
		link.addEventListener("mouseenter", () => {
			const year = link.getAttribute("data-year")
			images.forEach((image) => {
				if (image.getAttribute("data-year") == year) {
					const id = image.id.replace("-image", "")
					image.classList.toggle("hidden", `${id}-link` != link.id)
				}
			})
		})
	})
</script>
