---
import ArticleCard from "$components/ArticleCard.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import { getCollection } from "astro:content"

const blog = await getCollection("blog", ({ data }) => {
	return data.draft !== true
})
blog.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<BaseLayout title="Welcome to Astro.">
	<div class="mx-auto mb-12 max-w-[500px] px-4">
		<header class="my-12 px-5">
			<div class="my-5">
				◂
				<a href="https://aureliendossantos.com">Retour au site principal</a>
			</div>
			<p>
				Bonjour, je suis Aurélien et vous êtes sur mon blog. <br /><a href="/about">A propos</a>
			</p>
		</header>
		<main class="flex flex-col gap-4">
			{blog.map((article) => <ArticleCard article={article} />)}
		</main>
	</div>
</BaseLayout>
