---
import "$styles/base.scss"
import ArticleCard from "$components/ArticleCard.astro"
import BaseLayout from "$layouts/BaseLayout.astro"
import getBlogPosts from "$utils/getBlogPosts"
import NinjaLink from "$components/home/NinjaLink.astro"

const articles = await getBlogPosts()
---

<BaseLayout
	ogType="website"
	title="Blog"
	description="Blog personnel d'Aurélien Dos Santos."
	font="Work Sans"
>
	<div>
		<main class="grid grid-cols-3 items-center xl:flex xl:grid-cols-none xl:flex-col">
			<div></div>
			<div class="flex justify-center">
				<div
					class="ml-8 mr-16 flex max-w-xs flex-col text-space-500 2xl:ml-7 2xl:mr-14 2xl:max-w-[17.5rem] 2xl:text-sm small:mx-0 small:max-w-[20rem]"
				>
					<header class="relative mb-11 mt-12 grid grid-cols-3 2xl:mb-9 2xl:mt-10">
						<NinjaLink text="Portfolio" label="/portfolio" href="/portfolio" />
						<div class="flex">
							<div class="grow"></div>
							<NinjaLink
								text="YouTube"
								label="youtube.com"
								href="https://www.youtube.com/@GameDevAlliance"
							/>
							<div class="grow"></div>
						</div>
						<div class="flex">
							<div class="grow"></div>
							<button
								id="blog-home-navbar-toggle"
								aria-haspopup="true"
								class="active:ring-space-400 -mx-2 -my-1 rounded px-2 leading-tight opacity-0 ring-space-300 transition-all hover:text-space-600 hover:ring-1 active:bg-space-100 active:text-space-500 dark:ring-space-700 dark:hover:text-space-500 dark:hover:ring-space-600 dark:active:bg-space-blue dark:active:text-space-300 dark:active:ring-space-500 medium:mx-0 medium:ring-1"
							>
								Explorer
							</button>
						</div>
					</header>
					<p class="relative mb-[58px] 2xl:mb-12">
						Bonjour, je suis <NinjaLink text="Aurélien Dos Santos" label="/about" href="/about" />,
						ingénieur pédagogique, réalisateur vidéo et développeur web/Unity. Bienvenue sur mon
						blog.
					</p>
				</div>
			</div>
		</main>
		<div>
			{
				articles.map((article, index) => (
					<ArticleCard article={article} entryIndex={articles.length - index} />
				))
			}
		</div>
	</div>
</BaseLayout>

<style is:global>
	header a,
	p a {
		@apply text-space-700 hover:text-space-800 dark:text-space-300 dark:hover:text-space-200;
	}
</style>

<script>
	import { getToggleText, toggleNavbar } from "$utils/navbar"

	document.addEventListener("astro:page-load", () => {
		const button = document.querySelector("#blog-home-navbar-toggle") as HTMLButtonElement
		button.addEventListener("click", () => {
			toggleNavbar()
		})
		button.innerText = getToggleText("Explorer")
		button.classList.remove("opacity-0")
		button.classList.add("opacity-100")
	})
</script>
