---
import { type CollectionEntry } from "astro:content"
import Image from "$components/Image.astro"
interface Props {
	ingredient: CollectionEntry<"ingredients">
	quantity?: string | null | undefined
	listOnMobile?: boolean
	visibleOnlyOnMobile?: boolean
	hidden?: boolean
}
const { ingredient, quantity, listOnMobile, visibleOnlyOnMobile, hidden } = Astro.props
const hasIcon = Boolean(ingredient.data.icon)
---

<a
	href={`/kitchen/${ingredient.slug}`}
	class:list={[
		"flex flex-col rounded-md border border-stone-600 px-2 transition hover:border-white",
		{
			"small:flex-row small:flex-wrap small:items-baseline small:justify-normal small:px-3 small:py-2":
				listOnMobile,
			"pb-4 medium:pb-3": hasIcon,
			"justify-center pb-2 medium:pb-1": !hasIcon,
			"hidden small:flex": visibleOnlyOnMobile && !hidden,
			hidden: hidden,
		},
	]}
>
	{
		ingredient.data.icon && (
			<Image
				class:list={{ "small:hidden": listOnMobile }}
				src={ingredient.data.icon}
				alt=""
				notZoomable
			/>
		)
	}
	<div class:list={[{ grow: hasIcon, "small:hidden": listOnMobile }]}></div>
	<div
		class:list={[
			"mx-1 mt-2 text-sm leading-tight medium:mx-0 medium:mt-1 medium:text-xs medium:leading-tight",
			{
				"small:mt-0 small:text-sm small:leading-tight": listOnMobile,
				"small:mr-[0.5em]": listOnMobile && quantity,
			},
		]}
	>
		{ingredient.data.title}
	</div>
	{
		quantity && (
			<div class="mt-[0.1em] text-xs text-stone-400 medium:mt-0 medium:leading-tight">
				{quantity}
			</div>
		)
	}
</a>
