---
interface Props {
	label: string
	secondLabel: string
	href: string
	rel?: string
	newTab?: boolean
}
const { label, secondLabel, href, rel, newTab } = Astro.props
---

<li class="secondary">
	<a href={href} rel={rel} target={newTab ? "_blank" : undefined}>
		<span class="label text-[#d1d5db]">{label}</span>
		<span>{secondLabel}</span>
	</a>
</li>
