---
import PlaylistIcon from "$icons/mdi/playlist-music.svg"
import PreviousIcon from "$icons/material-symbols/skip-previous.svg"
import NextIcon from "$icons/material-symbols/skip-next.svg"
import DropdownMenu from "./DropdownMenu.astro"
---

<div class="has-[audio:not([src])]:hidden">
	<media-controller audio id="navbar-audio">
		<audio slot="media"></audio>
		<media-control-bar>
			<media-play-button class="w-8 p-0 transition-none"></media-play-button>
			<DropdownMenu id="navbar-audio-status" alignRight borderRight keepOpenOnClick>
				<PlaylistIcon size="17px" id="navbar-link-icon" class="order-last" slot="icon" />
				<div slot="label">
					<media-time-display
						showduration
						notoggle
						class="m-0 -ml-3"
						style={{ fontFeatureSettings: "'tnum'" }}></media-time-display>
				</div>
				<div class="w-[160px] px-3 py-[6px] text-sm leading-tight">
					<div id="navbar-audio-title" class="truncate"></div>
					<div id="navbar-audio-author" class="truncate text-neutral-500"></div>
				</div>
				<div class="px-1">
					<media-control-bar mediacontroller="navbar-audio" class="h-7 w-full items-center">
						<div class="flex w-7 items-center justify-center">
							<PreviousIcon size="17px" class="text-neutral-700" />
						</div>
						<media-time-range></media-time-range>
						<div class="flex w-7 items-center justify-center">
							<NextIcon size="17px" class="text-neutral-700" />
						</div>
					</media-control-bar>
					<media-control-bar mediacontroller="navbar-audio" class="h-7 w-full pr-3">
						<media-mute-button class="w-7 p-0 transition-none"></media-mute-button>
						<media-volume-range class="grow"></media-volume-range>
					</media-control-bar>
				</div>
			</DropdownMenu>
		</media-control-bar>
	</media-controller>
</div>

<style is:global>
	media-controller#navbar-audio,
	media-control-bar#in-dropdown {
		--media-tooltip-display: none;
		--media-button-icon-height: 17px;
		--media-control-height: 28px;
		--media-control-padding: 0 12px;
		--media-font-family: "Work Sans", sans-serif;
		--media-font-size: 14px;
		--media-font-weight: 400;
		--media-icon-color: white;
		--media-secondary-color: transparent;
		--media-control-background: transparent;
		--media-text-color: white;
		--media-control-hover-background: white;
		media-time-range,
		media-volume-range {
			--media-control-hover-background: black;
			--media-primary-color: white;
			--media-range-track-background: #404040;
		}
		media-time-display {
			--media-control-padding: 0;
		}
	}
</style>

<script>
	import "media-chrome"
</script>
