---
interface Props {
	label: string
	href?: string
	width: number
}
const { label, href, width } = Astro.props
---

<a
	href={href}
	class="flex py-[6px] items-center leading-tight line-clamp-2 border-x-0 bg-black px-3 text-sm text-white !no-underline hover:bg-white hover:text-black"
	style={{width: `${width}px`}}
>
	{label}
</a>
