---
import { Icon } from "astro-icon/components"

interface Props {
	id: string
	label: string
	initiallyHidden?: boolean
	borderLeft?: boolean
	borderRight?: boolean
	truncate?: boolean
}
const { id, label, initiallyHidden, borderLeft, borderRight, truncate } = Astro.props
---

<div id={`${id}-parent`} class:list={{ hidden: initiallyHidden }}>
	<div
		class:list={[
			"navbar-colors m-0 flex h-full items-center justify-center gap-2 whitespace-nowrap p-0 px-3 text-neutral-400 medium:px-2",
			{ "border-l": borderLeft, "border-r": borderRight },
		]}
	>
		<Icon name="lucide:scan" class="h-[17px] w-[17px]" />
		<div id={`${id}-text`} class:list={{ "truncate mediumlarge:max-w-[20vw]": truncate }}>
			{label}
		</div>
	</div>
</div>
