---
import { checkLocale, useTranslations } from "$utils/i18n"
import { getSearchEntries } from "$utils/search"
import { Icon } from "astro-icon/components"
interface Props {
	ssr?: boolean
}
const locale = checkLocale(Astro.currentLocale)
const t = useTranslations(locale)
// With SSR, `getSearchEntries()` takes a long time on Vercel. Even if this component is at the
// bottom of the page, it's kinda blocking because we use ViewTransitions. To solve this,
// we will later fetch the entries client-side from a static API endpoint.
const preRenderedEntries = Astro.props.ssr ? [] : await getSearchEntries(locale)
---

<div class="navbar-colors relative border-r">
	<div class="navbar-hover-colors group flex h-full items-center">
		<label for="navbar-search-toggle">
			<Icon name="ic:baseline-search" class="h-[17px] pl-[10px] pr-2 medium:px-2" />
		</label>
		<input type="checkbox" id="navbar-search-toggle" class="peer hidden" aria-hidden="true" />
		<input
			id="navbar-search"
			class="w-[90px] bg-transparent p-0 placeholder:text-[--navbar-text] focus:text-[--navbar-text] focus:outline-none placeholder:focus:text-[--navbar-border] group-hover:text-[--navbar-hover-text] placeholder:group-hover:text-[--navbar-hover-text] focus:group-hover:text-[--navbar-hover-text] medium:w-0 medium:active:w-[90px] medium:peer-checked:w-[90px] dark:placeholder:text-[--dark-navbar-text] dark:focus:text-[--dark-navbar-text] dark:placeholder:focus:text-[--dark-navbar-border] dark:group-hover:text-[--dark-navbar-hover-text] dark:placeholder:group-hover:text-[--dark-navbar-hover-text] dark:focus:group-hover:text-[--dark-navbar-hover-text]"
			style="transition: width 0.2s ease-out;"
			placeholder={t("n-search")}
			autocomplete="off"
			type="text"
		/>
	</div>
</div>

<script>
	import { SearchCard } from "$components/navbar/SearchCard"

	customElements.define("search-card", SearchCard)
</script>

<script>
	/** *My first idea*
	 * Using the search icon as a <label> for the search input, so that on mobile,
	 * clicking on the icon brings the input into focus. It works everywhere except on iOS.
	 * *The new method*
	 * The search icon is a <label> for a hidden checkbox, and the input is shown if that
	 * checkbox is checked. It works, but to automatically hide the input, we need this
	 * script to listen to the blur event and uncheck the box. There's still a problem
	 * though. On iOS (again), the keyboard appears above the navbar and hides the input.
	 * So, on iOS only, the input is not focused automatically. Instead, the user has a
	 * 3-second delay to manually focus on the input after clicking the icon.
	 */
	import { isIOS } from "$utils/navbar"

	let isFocused = false
	const checkbox = document.getElementById("navbar-search-toggle") as HTMLInputElement
	const searchInput = document.getElementById("navbar-search") as HTMLInputElement

	checkbox.addEventListener("change", () => {
		if (checkbox.checked && !isIOS) searchInput.focus()
	})
	searchInput.addEventListener("focus", () => {
		isFocused = true
	})
	searchInput.addEventListener("blur", () => {
		isFocused = false
		setTimeout(() => {
			if (!isFocused) checkbox.checked = false
		}, 3000)
	})
</script>

<script is:inline define:vars={{ preRenderedEntries }}>
	// If the page is not pre-rendered, we asynchronously fetch the entries from the API.
	// Until the fetch is done, the search bar will simply not find any result.
	window.entries = []
	;(async () => {
		if (preRenderedEntries.length > 0) window.entries = preRenderedEntries
		else window.entries = await (await fetch("/api/search/entries")).json()
	})()

	// Get the HTML elements
	const input = document.getElementById("navbar-search")
	const outputContainer = document.getElementById("navbar-search-items-container")

	/**
	 * Called at each search. Empties the results div then fills it with a
	 * list of SearchCard corresponding to the keywords provided in input.
	 * @param {string} input - What's the search input?
	 * @return {Array<blogEntry>} - Articles returned by the search
	 */
	const applyInput = (input) => {
		outputContainer.innerHTML = ""
		const searchKeywords = input.toLowerCase().split(" ")
		if (input.length < 3) {
			results = []
		} else if (searchKeywords.length > 0) {
			// Filter block entries based on their title, abstract & tags
			// should match every keywords provided by search input !
			results = window.entries.filter((entry) =>
				searchKeywords.every(
					(keyword) =>
						entry.slug.toLowerCase().includes(keyword) ||
						entry.title.toLowerCase().includes(keyword) ||
						entry.description?.toLowerCase().includes(keyword) ||
						entry.categories?.some((cat) => cat.toLowerCase().includes(keyword)) ||
						entry.tags?.some((tag) => tag.toLowerCase().includes(keyword))
				)
			)
		} else {
			results = []
		}
		results.forEach((result, index) => {
			// Limit at 9 results
			if (index >= 8) return
			// For every result, insert a SearchCard in the output
			outputContainer.insertAdjacentHTML(
				"beforeend",
				`<search-card title="${result.title}" slug="${result.slug}" ${
					result.date ? `date="${result.date}"` : ""
				} ${
					result.categories ? `tags="${result.categories.join(", ")}"` : ""
				} class="flex w-[207px]"></search-card>`
			)
		})
	}

	// On the first page load, initialize the output with an empty search.
	applyInput("")

	// Call applyInput() at any keypress or click in the search input
	input.addEventListener("input", (event) => {
		if (event.target) {
			const element = event.currentTarget
			applyInput(element.value)
		}
	})
	input.addEventListener("click", (event) => {
		if (event.target) {
			const element = event.currentTarget
			applyInput(element.value)
		}
	})

	// Clear the search results when we click away or are about to change page
	window.addEventListener("click", (event) => {
		if (!input.contains(event.target) && !outputContainer.contains(event.target)) {
			outputContainer.innerHTML = ""
		}
	})
	document.addEventListener("astro:before-preparation", () => {
		outputContainer.innerHTML = ""
	})
</script>

<script>
	import { isIOS } from "$utils/navbar"

	/**
	 * Disable zoom on iOS so the browser doesn't zoom in when we click on
	 * the input. We could argue that it's bad for accessibility, but the
	 * website is very legible on landscape and the zoom reduces the access
	 * to the search results.
	 * @see https://stackoverflow.com/a/57527009
	 */
	const disablePageZoom = () => {
		const meta = document.querySelector("meta[name=viewport]") as HTMLMetaElement
		let content = meta.getAttribute("content") as string
		let regex = /maximum\-scale=[0-9\.]+/g
		meta.setAttribute(
			"content",
			regex.test(content)
				? content.replace(regex, "maximum-scale=1.0")
				: content.concat(", maximum-scale=1.0")
		)
	}

	document.addEventListener("astro:page-load", () => {
		if (isIOS()) disablePageZoom()
	})
</script>
