<div
	id="toast"
	class="invisible fixed bottom-9 left-0 z-[999] mx-2 text-pretty rounded bg-black p-2 font-work-sans text-sm text-white opacity-0 ring-1 ring-white ring-opacity-20 transition-opacity"
>
</div>
