<div
	id="toast"
	class="navbar-bg navbar-colors invisible fixed bottom-9 left-0 z-[999] mx-[5px] text-pretty rounded-md p-2 font-work-sans text-sm opacity-0 ring-1 transition-opacity"
	style={{
		cornerShape: "squircle",
		backdropFilter: "var(--navbar-bg-filter)",
	}}
>
</div>
