<div
	id="toast"
	class="navbar-bg navbar-colors invisible fixed bottom-9 left-0 z-[999] mx-2 text-pretty rounded p-2 font-work-sans text-sm opacity-0 ring-1 transition-opacity"
	style={{ backdropFilter: "var(--navbar-bg-filter)" }}
>
</div>
