---
import type { CollectionEntry } from "astro:content"
import Game from "./mdx/Game.astro"
import Book from "./mdx/Book.astro"
import getIGDBgames from "$utils/getIGDBgame"

interface Props {
	article: CollectionEntry<"blog">
}

const { article } = Astro.props
const data = article.data
const references = [...data.games, ...data.books]
const gamesData = data.games.length > 0 ? await getIGDBgames(data.games) : []
---

{
	references.length > 0 && (
		<>
			<h2>Dans cet article</h2>
			{gamesData.map((data) => (
				<Game data={data} />
			))}
			{data.books.map((id: string) =>
				id.startsWith("OL") ? <Book olid={id} /> : <Book isbn={id} />
			)}
		</>
	)
}
