---
import type { Palette } from "src/utils/palettes"

interface Props {
	palette: Palette
	wide?: boolean
	full?: boolean
}
const { palette, wide, full } = Astro.props
const normalLayout = !full
---

<main
	class:list={{ "px-[80px] pb-16 medium:px-[40px] small:px-[20px]": normalLayout }}
	style={{
		color: palette.mainColor,
		fontFamily: palette.mainFont,
		fontSize: palette.fontSize || "initial",
		lineHeight: palette.lineHeight || 1.25,
	}}
>
	<div
		class:list={[
			{ "blog-article m-auto": normalLayout },
			{ "max-w-prose": normalLayout && !wide },
			{ "max-w-[700px]": wide },
		]}
	>
		<slot />
	</div>
</main>
