---
import { Icon } from "astro-icon/components"

export interface D3Config {
	drag: boolean
	pan: boolean
	zoom: boolean
	depth: number
	scale: number
	repelForce: number
	centerForce: number
	linkDistance: number
	fontSize: number
	opacityScale: number
	focusOnHover?: boolean
}

interface GraphOptions {
	localGraph: Partial<D3Config> | undefined
	globalGraph: Partial<D3Config> | undefined
}

const defaultOptions: GraphOptions = {
	localGraph: {
		drag: true,
		pan: true,
		zoom: false,
		depth: 1,
		scale: 1,
		repelForce: 0.7,
		centerForce: 0.3,
		linkDistance: 55,
		fontSize: 14,
		opacityScale: 3,
		focusOnHover: false,
	},
	globalGraph: {
		drag: true,
		pan: true,
		zoom: true,
		depth: -1,
		scale: 0.9,
		repelForce: 0.3,
		centerForce: 0.3,
		linkDistance: 30,
		fontSize: 10,
		opacityScale: 1,
		focusOnHover: true,
	},
}

interface Props {
	title: string
	opts?: GraphOptions
}
const { title, opts } = Astro.props

const localGraph = { ...defaultOptions.localGraph, ...opts?.localGraph }
const globalGraph = { ...defaultOptions.globalGraph, ...opts?.globalGraph }
---

<script src="$utils/graph.ts"></script>

<div class="relative h-64 w-64 overflow-hidden">
	<div id="graph-container" style="background-color:black;" data-cfg={JSON.stringify(localGraph)}>
	</div>
	<Icon
		name="ion:eye"
		id="global-graph-icon"
		class="absolute right-0 top-0 box-content h-[17px] cursor-pointer rounded-bl-sm px-3 py-[6px] text-[--graph-secondary] hover:bg-[--graph-main] hover:text-[--graph-bg]"
	/>
	<div
		id="graph-title"
		class="pointer-events-none absolute left-0 top-0 px-3 py-[6px] leading-tight"
	>
		{title}
	</div>
</div>
<!--
<div class="h-64 w-80 flex-col overflow-hidden border-l border-neutral-700 px-3 py-2">
	<h3>Page title</h3>
	<p>Date</p>
	<p>Page description</p>
</div>
-->
<div
	id="global-graph-outer"
	class="fixed left-0 top-0 hidden h-full w-screen overflow-hidden bg-black/50"
>
	<div
		id="global-graph-container"
		data-cfg={JSON.stringify(globalGraph)}
		class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform rounded border-2 border-[--graph-secondary] bg-[--graph-bg]"
	>
	</div>
</div>

<style>
	:root {
		--graph-bg: black;
		--graph-main: white;
		--graph-secondary: #adadad;
		--graph-tertiary: #6b6b6b;
		--graph-special: #ce5974;
	}
	#global-graph-outer {
		z-index: 9999;
		& > #global-graph-container {
			height: 60vh;
			width: 90%;
		}
	}
</style>
