---
interface Props {
	href: string
	name: string
}
const { href, name } = Astro.props
---

<h3
	class="float-left ml-[-23%] w-[20%] text-right text-slate-400 dark:text-slate-600 medium:float-none medium:ml-0 medium:text-left"
>
	<a
		href={href}
		class="bg-transparent hover:bg-transparent hover:text-slate-400/80 active:bg-transparent active:text-slate-400 dark:hover:text-slate-600/80 dark:active:text-slate-600"
	>
		{name}
	</a>
</h3>
