---
import getPalette, { getColor, type PaletteName } from "$utils/palettes"

interface Props {
	palette: PaletteName
}

const palette = getPalette(Astro.props.palette)
---

<footer
	id="footer-for-navbar-toggle"
	class="mt-0 flex min-h-0 w-full justify-center transition-all duration-300"
>
	<button
		id="in-page-navbar-toggle"
		aria-haspopup="true"
		class="hidden cursor-pointer rounded-sm border border-solid border-[--text] border-neutral-500 bg-[--bg] p-[0.5em] font-work-sans text-sm leading-tight text-[--text] opacity-0 transition-all duration-300 hover:animate-none dark:border-[--dark-text] dark:bg-[--dark-bg] dark:text-[--dark-text]"
		style={{
			"--bg": getColor(palette.bgColor),
			"--dark-bg": getColor(palette.bgColor, "dark"),
			"--text": getColor(palette.secondaryColor),
			"--dark-text": getColor(palette.secondaryColor, "dark"),
		}}
	>
		Naviguer
	</button>
</footer>

<script>
	import { getToggleText, toggleNavbar } from "$utils/navbar"

	document.addEventListener("astro:page-load", () => {
		const button = document.querySelector("button#in-page-navbar-toggle") as HTMLButtonElement
		button.addEventListener("click", () => {
			toggleNavbar()
		})
		button.innerText = getToggleText("Naviguer")
	})
</script>

<style>
	@keyframes custom-pulse {
		50% {
			opacity: 0.6;
		}
	}
</style>
