---
import type { HTMLAttributes } from "astro/types"

interface Props extends Omit<HTMLAttributes<"a">, "href"> {
	href?: string | false
}
const { href, ...attributes } = Astro.props
---

{
	href ? (
		<a href={href} {...attributes}>
			<slot />
		</a>
	) : (
		<slot />
	)
}
