---
import type { CollectionEntry } from "astro:content"
import PieceTitle from "./PieceTitle.astro"
import PieceAuthor from "./PieceAuthor.astro"

interface Props {
	piece: CollectionEntry<"pieces">
}
const { piece } = Astro.props
---

<a href={`/museum/${piece.slug}`} class="truncate pr-2 text-right">
	<PieceTitle {piece} />
</a>
<a href={`/museum/${piece.slug}`}>
	<span class="truncate text-xs uppercase tracking-wider">
		<PieceAuthor {piece} />
	</span>
</a>
