---
import type { CollectionEntry } from "astro:content"
import Image from "$components/Image.astro"
import PieceTitle from "$components/museum/PieceTitle.astro"
import PieceAuthor from "$components/museum/PieceAuthor.astro"
import { author, title } from "$utils/museum"
import { checkLocale } from "$utils/i18n"

interface Props {
	piece: CollectionEntry<"pieces">
}
const { piece } = Astro.props
const locale = checkLocale(Astro.currentLocale)
---

<a href={`/museum/${piece.slug}`}>
	<div class="aspect-square">
		{
			piece.data.image && (
				<Image
					src={piece.data.image}
					alt={`${title(piece.data.title, locale)} by ${author(piece, locale)}`}
					width={512}
					class="h-full w-full object-contain"
					notZoomable
				/>
			)
		}
	</div>
	<div class="py-4 text-center">
		{
			(piece.data.type != "photo" || piece.data.title) && (
				<h3 class="mb-1 line-clamp-2 text-base font-light leading-tight medium:text-sm medium:leading-[1.2]">
					<PieceTitle {piece} />
				</h3>
			)
		}
		<p class="line-clamp-2 text-xs"><PieceAuthor {piece} /></p>
	</div></a
>
