---
import Image from "$components/Image.astro"
import type { AstroBuiltinAttributes } from "astro"

interface Props {
	src: ImageMetadata | Promise<{ default: ImageMetadata }>
	alt?: string
	caption?: string
	rounded?: boolean
	shadow?: boolean
}
const { src, alt, caption, rounded, shadow, ...attributes } = Astro.props

const resolvedSrc = "then" in src ? (await src).default : src
const classes: AstroBuiltinAttributes["class:list"] = { "rounded-md": rounded, shadow: shadow }
const width = Math.min(resolvedSrc.width, 1920)
---

<figure>
	<Image src={resolvedSrc} width={width} alt={alt || ""} class:list={classes} {...attributes} />
	{
		Astro.slots.has("default") && (
			<figcaption>
				<div>
					<slot />
				</div>
			</figcaption>
		)
	}
	{
		caption && (
			<figcaption>
				<div>
					<slot>{caption}</slot>
				</div>
			</figcaption>
		)
	}
</figure>
