---
interface Props {
	id: string
	title?: string
}
const { id, title } = Astro.props

const response = await fetch(
	`https://maps.googleapis.com/maps/api/place/details/json?place_id=${id}&language=fr&key=${
		import.meta.env.GOOGLE_MAPS_TOKEN
	}`
).then((response) => response.json())
// Response format: https://developers.google.com/maps/documentation/places/web-service/details
const { result: place } = response
---

<span class="whitespace-nowrap"
	><a
		href={place.url}
		target="_blank"
		class="bg-mention rounded-sm px-[0.1em]"
		style="text-decoration-line: none;"
		><img src={place.icon} class="-mb-[0.1em] max-h-[0.8em]" />
		<span class="whitespace-normal">{title || place.name}</span></a
	></span
>
