---
import type { ImageQuality } from "astro"
import Figure from "./Figure.astro"
import Gallery from "./Gallery.astro"

interface Props {
	lines: [
		(ImageMetadata | Promise<{ default: ImageMetadata }>)[],
		"wide" | "full" | undefined,
		number[],
	][]
	zoomQuality?: ImageQuality
}

function getResolution(line: any) {
	if (line[1] == "full" && line[0].length >= 2) return "normal"
	if (line[1] == "wide" || line[1] == "full") return "high"
	if (line[0].length == 2) return "half"
	if (line[0].length >= 3) return "third"
	return "normal"
}

const { lines, zoomQuality } = Astro.props
---

<div class="photo-gallery">
	{
		lines.map((line) => (
			<Gallery wide={line[1] == "wide"} full={line[1] == "full"}>
				{line[0].map((photo, index) => (
					<Figure
						src={photo}
						resolution={getResolution(line)}
						zoomQuality={zoomQuality}
						percentWidth={line[2] && line[2][index]}
					/>
				))}
			</Gallery>
		))
	}
</div>
