---
import Image from "$components/Image.astro"
import IngredientList from "$components/kitchen/IngredientList.astro"
import KitchenLayout from "$layouts/KitchenLayout.astro"
import { getCollection } from "astro:content"
// Filters ingredients having text content.
const ingredients = (await getCollection("ingredients")).filter(
	(entry) => entry.body.trim().length > 0
)
const recipes = await getCollection("recipes")
---

<KitchenLayout ogType="website" title="Cuisine" footer>
	<main>
		<h1 class="text-center">Cuisine</h1>
		<h2>Ingrédients</h2>
		<IngredientList ingredients={ingredients} />
		<h2>Recettes</h2>
		<div class="not-prose columns-2 gap-2 medium:columns-1">
			{
				recipes.map((recipe) => (
					<a
						class="group mb-2 flex overflow-hidden rounded-md border border-stone-600 transition hover:border-white"
						href={`/kitchen/${recipe.slug}`}
					>
						{recipe.data.cover && (
							<Image
								class="h-full w-24 border-r border-stone-700 object-cover"
								width={200}
								notZoomable
								src={recipe.data.cover}
								alt=""
							/>
						)}
						<div class="p-4 leading-snug">{recipe.data.title}</div>
					</a>
				))
			}
		</div>
	</main>
	<div class="grow"></div>
	<footer class="not-prose mt-8 border-t border-stone-700 pt-8 font-sans text-sm text-stone-500">
		Inspiré par <a href="https://grimgrains.com" target="_blank">Grimgrains</a>. Illustrations par
		Rek Bell
		<a href="https://grimgrains.com/site/about.html" target="_blank"> <abbr>BY-NC-SA-4.0</abbr></a>.
	</footer>
</KitchenLayout>

<style>
	footer a {
		@apply font-bold underline-offset-2 hover:underline;
	}
</style>
