---
export const prerender = false

import "$styles/base.css"
import BaseLayout from "$layouts/BaseLayout.astro"
import HomeContent from "$components/wiki/HomeContent.astro"
---

<BaseLayout title="Wiki personnel" ogType="website" bg={{ light: "white", dark: "black" }}>
	<div class="px-4">
		<main
			class="prose prose-sm prose-neutral mx-auto mb-16 mt-12 text-neutral-800 dark:prose-invert medium:mt-8 dark:text-neutral-200"
		>
			<h1>Wiki personnel</h1>
			<p>
				Ce wiki est une collection de notes personnelles en tout genre. Certaines pourraient vous
				intéresser ou vous amuser. La particularité technique de ce wiki est que j'en écris le
				contenu sur Notion puis je l'affiche ici via l'<abbr>API</abbr>.
			</p>
			<HomeContent />
		</main>
	</div>
</BaseLayout>
