---
import "@fontsource/lato"
import "@fontsource/noto-sans"
import "@fontsource/nunito"
import "@fontsource/nunito/700.css"
import "@fontsource/space-grotesk"
import "@fontsource/urbanist"
import "@fontsource/urbanist/400-italic.css"
import "@fontsource/work-sans"
import "@fontsource/work-sans/700.css"
import "@fontsource/work-sans/400-italic.css"
import "@fontsource/work-sans/700-italic.css"

export interface Props {
	title: string
	bg?: string
}
const { title, bg } = Astro.props
---

<!DOCTYPE html>
<html lang="fr" class="font-sans">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style={{ backgroundColor: bg || "#f5f5fa" }}>
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: "Anek Latin";
		src: url("/fonts/AnekLatin.ttf") format("ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
