---
import BaseLayout, { type Props as BaseLayoutProps } from "./BaseLayout.astro"

type Props = BaseLayoutProps
---

<BaseLayout {...Astro.props} bg="#09090b">
	<div class="diary-layout w-full bg-zinc-950">
		<div class="m-auto min-h-screen max-w-md bg-white">
			<slot />
		</div>
	</div>
</BaseLayout>

<style is:global>
	.diary-layout {
		figure {
			@apply -mx-8;
		}
		.gallery {
			figure:has(img) {
				@apply mx-0;
			}
			figure:has(img):first-of-type {
				@apply -ml-8;
			}
			figure:has(img):last-of-type {
				@apply -mr-8;
			}
		}
		figcaption {
			@apply mx-8 text-center;
		}
		.prose .bg-mention,
		a.popup-link {
			@apply bg-zinc-200 no-underline hover:bg-zinc-300;
			img {
				@apply mb-[0.2em];
			}
		}
	}
</style>
