---
import "$styles/base.scss"
import BaseLayout from "$layouts/BaseLayout.astro"
import getBlogPosts from "$utils/getBlogPosts"
import getUniqueValuesAndOccurences from "$utils/getUniqueValuesAndOccurences"

export async function getStaticPaths() {
	const allArticles = await getBlogPosts()
	const rawCategories = allArticles.map((article) => article.data.categories)

	const categories = getUniqueValuesAndOccurences(rawCategories)

	return Object.entries(categories).map(([category, amount], i) => {
		const filteredArticles = allArticles.filter(
			(article) => article.data.categories && article.data.categories.includes(category)
		)
		return {
			params: { category },
			props: { articles: filteredArticles, categories },
		}
	})
}

type Props = {
	title: string
	type: "Blog" | "Catégories" | "Tags" | "Lieux"
	animation: "categories" | "tags" | "places"
}
const { title, type, animation } = Astro.props

const paths = { Blog: "/", Catégories: "/categories", Tags: "/tags", Lieux: "/blog/places" }
const path = paths[type]
---

<BaseLayout
	ogType="website"
	title={title}
	font="Work Sans"
	navBarProps={{ title: title, parent: { title: "Blog", href: "/" } }}
>
	<div class="mx-auto mb-12 max-w-[500px] px-4" transition:animate="initial">
		<header class="my-12 px-5">
			<h2 class="text-sm uppercase leading-tight text-slate-300 dark:text-slate-700">
				<a
					href={path}
					class="bg-transparent hover:bg-slate-200 hover:text-slate-400 active:bg-slate-300 dark:hover:bg-slate-800 dark:hover:text-slate-600 dark:active:bg-slate-700"
				>
					{type}/
				</a>
			</h2>
			<h1 class="text-2xl leading-tight text-slate-500">
				<span>{title}</span>
			</h1>
			<slot name="header" />
		</header>
		<slot />
	</div>
</BaseLayout>
