---
import BaseLayout from "$layouts/BaseLayout.astro"

type Props = {
	title: string
	type?: "Tags" | "Lieux" | "Muses"
}
const { title, type } = Astro.props

const paths = { Tags: "/tags", Lieux: "/blog/places", Muses: "/muses" }
const path = type && paths[type]
---

<BaseLayout
	ogType="website"
	title={title}
	font="Sofia Sans"
	navBarProps={{ title: title, parent: { title: "Blog", href: "/" } }}
	bg={{ light: "white", dark: "black" }}
>
	<div transition:animate="initial">
		<header class="mx-auto my-10 mb-12 max-w-[500px] px-5">
			<h2 class="text-sm uppercase text-neutral-600 dark:text-neutral-300">
				<a href="/blog" class="hover:text-black dark:hover:text-white"> Blog </a>
				/
				{
					path && (
						<>
							<a href={path} class="hover:text-black dark:hover:text-white">
								{type}
							</a>
							/
						</>
					)
				}
			</h2>
			<h1 class="text-2xl leading-snug text-black dark:text-white" style={{ fontFamily: "Louize" }}>
				<span>{title}</span>
			</h1>
			{
				Astro.slots.has("tags") && (
					<div class="mt-3">
						<slot name="tags" />
					</div>
				)
			}
		</header>
		<main class="flex flex-col overflow-hidden">
			<slot />
		</main>
	</div>
</BaseLayout>
