---
import "$styles/base.css"
import "$styles/hyphenation.css"
import BaseLayout, { type Props as BaseLayoutProps } from "./BaseLayout.astro"
import NavbarAccessFooter from "$components/navbar/NavbarAccessFooter.astro"
interface Props extends BaseLayoutProps {
	footer?: boolean
}
const { footer } = Astro.props
---

<BaseLayout {...Astro.props} bg="#111111">
	<div class="px-4 text-white" style={{ fontFamily: "Lora, serif" }}>
		<div
			class={`prose py-16 prose-stone prose-invert m-auto max-w-prose medium:prose-sm ${
				footer ? "flex flex-col min-h-screen" : ""
			}`}
		>
			<slot />
			<NavbarAccessFooter />
		</div>
	</div>
</BaseLayout>

<style is:global>
	/* main instead of html avoids targeting the navbar */
	/* target main except footer */
	main {
		font-feature-settings: "frac" 1;
	}
	footer {
		font-feature-settings: "frac" 0;
	}
	p {
		hyphens: auto;
	}
</style>
