---
import "$styles/fonts/inter.css"
import "@fontsource/space-mono"
import BaseLayout, { type Props as BaseLayoutProps } from "./BaseLayout.astro"
import Header from "$components/museum/Header.astro"

type Props = Omit<BaseLayoutProps, "bg">
const x = true // fix syntax higlighting issue

var lightBg = "#f0f0f0"
var darkBg = "#333333"
---

<BaseLayout {...Astro.props} bg={{ light: darkBg, dark: darkBg }}>
	<div class="mx-16 text-[--900] mediumlarge:mx-8 small:mx-4">
		<Header />
		<slot />
	</div>
</BaseLayout>

<style is:global define:vars={{ lightBg, darkBg }}>
	:root {
		--100: var(--lightBg);
		--200: #e1e1e1;
		--800: #686868;
		--900: #333;
	}
	.dark {
		--100: var(--darkBg);
		--200: #5b5b5b;
		--800: #bcbcbc;
		--900: #f0f0f0;
	}
</style>

<script is:inline>
	// Scroll directly to the content for pieces. Header is 28px.
	// To show the header anyway, have a page with the same height as the screen.
	window.scroll({ left: 0, top: 92, behavior: "instant" })
</script>
