---
import "$styles/base.css"
import BaseLayout, { type Props as BaseLayoutProps } from "./BaseLayout.astro"

type Props = BaseLayoutProps
---

<BaseLayout {...Astro.props} bg="#09090b">
	<div class="w-full bg-zinc-950">
		<div class="m-auto min-h-screen max-w-md bg-white" transition:animate="initial">
			<slot />
		</div>
	</div>
</BaseLayout>

<style is:global>
	figure:has(img) {
		@apply -mx-8;
	}
	figcaption {
		@apply mx-8 -mt-8 text-center;
	}
</style>
