---
import BaseLayout from "./BaseLayout.astro"

export interface Props extends ReturnType<typeof BaseLayout> {}
---

<BaseLayout {...Astro.props} bg="#09090b">
	<div class="w-full bg-zinc-950">
		<div class="m-auto min-h-screen max-w-md bg-white" transition:animate="initial">
			<slot />
		</div>
	</div>
</BaseLayout>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	figure:has(img) {
		@apply -mx-8;
	}
	figcaption {
		@apply mx-8 -mt-8 text-center;
	}
</style>
