---
import type { CollectionEntry } from "astro:content"
import NewPopup from "../PopupV2.astro"
import { render } from "astro:content"
import getEntryOrThrow from "$utils/content/getEntryOrThrow"
import IngredientInPopup from "$components/mdx/mediaBlocks/IngredientInPopup.astro"

interface Props {
	id: CollectionEntry<"ingredients">["id"]
}
const { id } = Astro.props

const ingredient = await getEntryOrThrow("ingredients", id)
const { Content } = await render(ingredient)
const data = ingredient.data
---

<NewPopup
	icon="chef-hat"
	navBarTitle={data.title}
	navBarLinks={[{ title: "Ouvrir la page", url: `/kitchen/${ingredient.id}` }]}
	padding
	kitchen={true}
>
	<slot />
	<div slot="popup-contents" class="prose-sm prose-stone prose-invert">
		<Content components={{ Ing: IngredientInPopup }} />
	</div>
</NewPopup>
