---
import type { CollectionEntry } from "astro:content"
import NewPopup from "../PopupV2.astro"
import { getEntry } from "astro:content"
import IngredientInPopup from "$components/mdx/mediaBlocks/IngredientInPopup.astro"

interface Props {
	slug: CollectionEntry<"ingredients">["slug"]
}
const { slug } = Astro.props

const ingredient = await getEntry("ingredients", slug)
const { Content } = await ingredient.render()
const data = ingredient.data
---

<NewPopup
	icon="chef-hat"
	navBarTitle={data.title}
	navBarLinks={[{ title: "Ouvrir la page", url: `/kitchen/${ingredient.slug}` }]}
	padding
	kitchen={true}
>
	<slot />
	<div slot="popup-contents" class="prose-sm prose-stone prose-invert">
		<Content components={{ Ing: IngredientInPopup }} />
	</div>
</NewPopup>
